@model Hr.Models.NeededDetails

@{
    ViewData["Title"] = "موافقة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>موافقة علي الطلب </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="NeededDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                تسلسل 
                <input asp-for="OfferedDetailsSerial" readonly class="form-control" />
                <span asp-validation-for="OfferedDetailsSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                رقم الطلب
                <input asp-for="COURCES_IDOffered" readonly class="form-control" />
                <span asp-validation-for="COURCES_IDOffered" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="OfferedRequestFrom" class="control-label"></label>
                <input asp-for="OfferedRequestFrom" class="form-control" />
                <span asp-validation-for="OfferedRequestFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferedRequestTo" class="control-label"></label>
                <input asp-for="OfferedRequestTo" class="form-control" />
                <span asp-validation-for="OfferedRequestTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferedRequestTo2" class="control-label"></label>
                <input asp-for="OfferedRequestTo2" class="form-control" />
                <span asp-validation-for="OfferedRequestTo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferedRequestTo3" class="control-label"></label>
                <input asp-for="OfferedRequestTo3" class="form-control" />
                <span asp-validation-for="OfferedRequestTo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferedRequestTo4" class="control-label"></label>
                <input asp-for="OfferedRequestTo4" class="form-control" />
                <span asp-validation-for="OfferedRequestTo4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferedRequestTo5" class="control-label"></label>
                <input asp-for="OfferedRequestTo5" class="form-control" />
                <span asp-validation-for="OfferedRequestTo5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferedRequestTypeSatus" class="control-label"></label>
                <input asp-for="OfferedRequestTypeSatus" class="form-control" />
                <span asp-validation-for="OfferedRequestTypeSatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offeredoption" class="control-label"></label>
                <input asp-for="Offeredoption" class="form-control" />
                <span asp-validation-for="Offeredoption" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                تعليق
                <textarea asp-for="OfferedRequestNotes" class="form-control" ></textarea>
                <span asp-validation-for="OfferedRequestNotes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
