@model Hr.Models.ViewModelEvalwithother1
@{
    ViewData["Title"] = "درجة المقابلات     ";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<p style="font-size: 30px; color: orangered;">@ViewData["Message2"] ................................ @DateTime.Now</p>

  














<link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
<link href="~/js/chosen.css" rel="stylesheet" />
<link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
<link href="~/js/prism.css" rel="stylesheet" />
<script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
<script src="~/js/chosen.jquery.js"></script>
<script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
<script src="~/js/prism.js"></script>
<script src="~/datepicker/dist/js/bootstrap-hijri-datetimepicker.js"></script>


@*<script type="text/javascript">
        $(document).on("click", ":submit", function (e) {

            if (!$('#f1').val()) {
                e.preventDefault();
                alert('يرجي ارفاق شهادة الدورة ');
            }

        }

    </script>*@

<script type="text/javascript">
    $(".myselect option:not(:selected)").prop("disabled", true);
    $('#chosen-select16').append(new Option('اخري', 5));
    /* $('#chosen-select5').append(new Option('ممتاز +90 جيد جدا+80 جيد +70 مقبول +60', 0));*/
    $("#a").css('visibility', 'hidden');

    //function m() {
    //    if (document.getElementById("f1").files.length == 0) {
    //        console.log("لم يتم ارفاق شهادة الدورة ");
    //        alert("لم يتم ارفاق شهادة الدورة ");
    //    }

    //}

    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }//,
        //'.chosen-search': {disable_search: false}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
    $("select.chosen11").change(function () {

        var selectedCountry11 = $(this).children("option:selected").val();
        /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
        if (selectedCountry11 == 2) {
            alert("  يرجي اختيار التقدير  - ");
            $("#a").css('visibility', 'visible');
            var hiddenBox = $("#respond-2");
            hiddenBox.show();



        }
        else {
            $("#a").css('visibility', 'hidden');
            var hiddenBox = $("#respond-2");
            hiddenBox.hide();

        }
    });

    $("select.chosen1").change(function () {
        var selectedCountry = $(this).children("option:selected").val();
        /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
        if (selectedCountry == 200) {
            alert("  يرجي ادخال اسم الدورة الجديد باالاسفل - ");

            var hiddenBox = $("#respond-1");
            hiddenBox.show();



        }
        else {
            var hiddenBox = $("#respond-1");
            hiddenBox.hide();

        }
    });
    $("select").change(function () {
        var selected5 = $(this).children("option:selected").val();
        /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
        if (selected5 == 0) {
            alert("لايتم اختيار هذا العنصر  - ");

        }
    });

    $("select.chosen1").change(function () {
        var selected5 = $(this).children("option:selected").val();
        /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/

        alert("يجب ان يكون مجموع الوزن النسبي 100%  - ");


    });
    $("select.chosen2").change(function () {
        var selected5 = $(this).children("option:selected").val();
        /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/

        alert("يجب ان يكون مجموع الوزن النسبي 100%  - ");


    });


</script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        try {
            $("input[type='text']").each(function () {
                $(this).attr("autocomplete", "off");
            });
        }
        catch (e) { }
    });

</script>



<script type="text/javascript">


    $(function () {

        initHijrDatePicker();

        initHijrDatePickerDefault();

        $('.disable-date').hijriDatePicker({

            minDate: "2020-01-01",
            maxDate: "2021-01-01",
            viewMode: "years",
            hijri: true,
            debug: true
        });

    });


    function initHijrDatePicker() {

        $(".hijri-date-input").hijriDatePicker({
            locale: "ar-sa",
            format: "YYYY-MM-DD",
            hijriFormat: "iYYYY-iMM-iDD",
            dayViewHeaderFormat: "MMMM YYYY",
            hijriDayViewHeaderFormat: "iMMMM iYYYY",
            showSwitcher: false,
            allowInputToggle: true,
            showTodayButton: false,
            useCurrent: true,
            isRTL: false,
            viewMode: 'months',
            keepOpen: false,
            hijri: true,
            debug: true,
            showClear: true,
            showTodayButton: true,
            showClose: true
        });
    }

    function initHijrDatePickerDefault() {

        $(".hijri-date-default").hijriDatePicker();
    }

</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<script>
    try {
        fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
            return true;
        }).catch(function (e) {
            var carbonScript = document.createElement("script");
            carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
            carbonScript.id = "_carbonads_js";
            document.getElementById("carbon-block").appendChild(carbonScript);
        });
    } catch (error) {
        console.log(error);
    }
</script>

@*<div class="form-group">
        <label>التسلسل </label>
        <label>الهدف</label>
        <label>معيار القياس </label>
        <label>الوزن النسبي </label>
        <label>الناتج المستهدف </label>

    </div>
    <div class="form-group">
        1
        <input asp-for="AEvaluationGoalCovenantGoalsName" class="form-control" /><input asp-for="AEvaluationGoalCovenantMeasurementCriteria" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantPercentageWeight" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantTargetedOutput" class="form-control" />


        <span asp-validation-for="AEvaluationGoalCovenantGoalsName" class="text-danger"></span>
        <span asp-validation-for="AEvaluationGoalCovenantMeasurementCriteria" class="text-danger"></span>
    </div>
    <div class="form-group">
        2
        <input asp-for="AEvaluationGoalCovenantGoalsName" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantMeasurementCriteria" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantPercentageWeight" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantTargetedOutput" class="form-control" />

        <span asp-validation-for="AEvaluationGoalCovenantGoalsName" class="text-danger"></span>
        <span asp-validation-for="AEvaluationGoalCovenantMeasurementCriteria" class="text-danger"></span>
    </div>
    <div class="form-group">
        3
        <input asp-for="AEvaluationGoalCovenantGoalsName" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantMeasurementCriteria" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantPercentageWeight" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantTargetedOutput" class="form-control" />

        <span asp-validation-for="AEvaluationGoalCovenantGoalsName" class="text-danger"></span>
        <span asp-validation-for="AEvaluationGoalCovenantMeasurementCriteria" class="text-danger"></span>
    </div>
    <div class="form-group">
        4
        <input asp-for="AEvaluationGoalCovenantGoalsName" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantMeasurementCriteria" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantPercentageWeight" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantTargetedOutput" class="form-control" />

        <span asp-validation-for="AEvaluationGoalCovenantGoalsName" class="text-danger"></span>
        <span asp-validation-for="AEvaluationGoalCovenantMeasurementCriteria" class="text-danger"></span>
    </div>
    <div class="form-group">
        5
        <input asp-for="AEvaluationGoalCovenantGoalsName" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantMeasurementCriteria" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantPercentageWeight" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantTargetedOutput" class="form-control" />

        <span asp-validation-for="AEvaluationGoalCovenantGoalsName" class="text-danger"></span>
        <span asp-validation-for="AEvaluationGoalCovenantMeasurementCriteria" class="text-danger"></span>
    </div>
    <div class="form-group">
        6
        <input asp-for="AEvaluationGoalCovenantGoalsName" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantMeasurementCriteria" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantPercentageWeight" class="form-control" />
        <input asp-for="AEvaluationGoalCovenantTargetedOutput" class="form-control" />

        <span asp-validation-for="AEvaluationGoalCovenantGoalsName" class="text-danger"></span>
        <span asp-validation-for="AEvaluationGoalCovenantMeasurementCriteria" class="text-danger"></span>
    </div>*@
