/* Cascading Stylesheet for Common Elements */

/* Begin: General */


    
/*Textbox Watermark*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}
._DivContent
{
    padding: 10px; 
    text-align: right;
    direction: rtl;
    /*margin-right: 20px;*/
}

#ContentDwonload a:link
{
    color: #0066CC;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial;
} 
#ContentDwonload a:hover
{
    color: #FF0000;
    text-decoration: underline;
}

.HeaderStyleGridDwonload
{
    font-size: 18px;
    font-family: Arial;
}
.AlternatingItemStyleGridDwonload
{
    background-color: #E8F0FE;
    font-size: 16px;
    font-family: Arial;
}
.ItemStyleGridDwonload
{
    /*background-color: #E8F0FE;*/
    font-size: 16px;
    font-family: Arial;
}

    .styleMe
{
    /*border: 2px solid #3af9eb;*/
    border-radius: 4px; /*   box-shadow: 2px 3px 4px #555; /*  line-height: 35px;
    font-size: 15px;*/
    background-color: #EA0000;
    color: #FFFFFF;
    width: 80px;
}
 
    .styleMe:hover
{
    /* border: 2px solid #04897e;*/
    cursor: pointer;
    background-color: #840000;
    color: #FFFFFF;
}


    .lgHeader1
    {
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        color: #0066CC;
        background-color: #CEE9FF;
    }
.TxtRead
{
    background-color: #FFFFFF;
    text-align: right;
}

body.template
{
    padding-left: 8px;
    padding-right: 8px;
    font-family: Arial;
    font-size: 75%;
    color: #666666;
    
}
body.template h1
{
    padding-bottom: 5px;
    border-bottom: 1px dotted #bbbbbb;
    font-size: 2.2em;
    font-family: Arial;
    color: #888888;
}
a:link, a:visited { color: #0066CC; text-decoration: none;
    direction: ltr;
} 
a:active, a:hover{color: #FF9900;text-decoration: underline;}
span.allcaps
{
    font-variant: small-caps;
}
body.template h2
{
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 1.65em;
    color: #888888;
}
div.back
{
    margin-bottom: -20px;
    position: relative;
    top: -28px;
    padding-left: 5px;
    padding-bottom: 5px;
}
div.back img
{
    position: relative;
    margin-top: 0em;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    background-color: #ffffff;
}
div.back a:link,
div.back a:visited
{
    color: #839ce7;
    text-decoration: none;
    background-color: #ffffff;
    padding-right: 8px;
    top: -.2em;
    left: .25em;
}
div.back a:hover
{
    color: #000099;
    text-decoration: underline !important;
}
/* End: General */

/* Begin: Tables */
body.template table.listview, table.gridview, table.detailstable 
{
    border-left: 1px solid #dbddff;
    border-right: 1px solid #dbddff;
    border-top: 1px solid #dbddff;
    border-bottom: 3px solid #dbddff;
    border-collapse: collapse;
    font-family: Arial;
    color: #FFFFFF;
    font-size: 95%; 
}

body.template table.listview th, table.gridview th, table.detailstable th,
body.template table.listview td, table.gridview td, table.detailstable td 
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.1em;
}

body.template table.listview th, table.gridview th, table.detailstable th
{
    background-position: 1px 1px;
    background-repeat: repeat-x;
    background-color: #ffffff;
    font-size: 100%;
    text-align: right;
    line-height: 1.3em;
    color: #666666;
    border-left: 1px solid #dbddff;
    border-right: 1px solid #dbddff;
    border-bottom: 1px solid #dbddff;
}

body.template table.listview td, table.gridview td, table.detailstable td
{
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dotted #dadada;

}

body.template td.bold {
    font-weight:bold;
}

body.template th a:link,
body.template th a:visited,
body.template th a:hover
{
    color: #666666;
    text-decoration: none;
}

body.template td a:link,
body.template td a:visited
{
    color: #718ABE;
    text-decoration: none;
    padding-right: 6px;
}
body.template td a:hover
{
    color: #000099;
    text-decoration: underline !important;
}

table.gridview
{
    width: 98%;
    color: #666666;
    direction: rtl;
    text-align: right;
}
table.gridview table td
{
    padding-left: .5em;
    padding-right: .5em;
}

table.gridview th {
    background-image:url('../App_Themes/DynamicData/Content/Images/header_back.gif');
}

table.listview
{
    width: 100%;
}
table.listview td a:link, 
table.listview td a:visited
{
    font-size: 100%;
}
table.listview table td
{
    padding-left: .5em;
    padding-right: .5em;
}

table.listview th {
    background-image:url('../App_Themes/DynamicData/Content/Images/header_back.gif');
}

table.detailstable td
{
    border-left: 1px solid #dbddff;
    border-right: 1px solid #dbddff;
    vertical-align:top;
}

table.detailstable th
{
    background: #FCFDFE;
    vertical-align:top;
}

td.nowrap 
{
    white-space: nowrap;
}
/* The following modifies the details table */
body.template tr
{
    background: #FCFDFE;
}
/* The following modifies the controls in the list table footer */
tr.footer td
{
    background: #dbddff;
    height: 1.5em;
}

/* The following modifies the selected row in the list table */
tr.selected td
{
    background: #fdffb8;
}

/* End: Tables */

/* The following modifies the page number control which exists under the main table */
div.pager
{
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}
span.results1
{
    float:left;
}
span.results2
{
    float:right;
}
/* The following modifies the results per page control which exists under the main table */
div.results
{
    display: inline;
    position: relative;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: -1.75em;
    float:right;
}
/* Set's the appearance of the drop down control*/
.droplist
{
    padding: 0px;
    font-family: Arial;
    font-size: .80em;
    color: #525252;
    }
/* Bottom hyperlink design*/
div.bottomhyperlink
{
    font-family: Arial;
    font-size: 100%;
    margin-top: -3px;
}
/*
div.bottomhyperlink a:link,
div.bottomhyperlink a:visited

{
    color: #839ce7;
    text-decoration: none;

    font-family: Arial;

    font-size: 100%;

    margin-top: -3px;
}
div.bottomhyperlink a:hover
{

    color: #000099;

    text-decoration: underline !important;

    font-family: Arial;

    font-size: 100%;
}
*/
div.bottomhyperlink img
{
    position: relative;
    top: 0em;
    padding-right: .4em;
    border: none;
}
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/********************************************************************************************************/
/***************************************************Styles button***************************************/
/*
input[type="button"], input[type="submit"]
{
    background-color: #D4D0C8;
    color: #004080;
    border: outset 1px;

    width: 150px;
}
input[type="button"]:hover, input[type="submit"]:hover
{
    color: #FF0000;
}


input[type="ImageButton"], input[type="submit"]
{    background-color: #EFEFEF;
    
    color: #000000;
    margin-right: 0px;
}
input[type="ImageButton"]:hover, input[type="submit"]:hover
{
    background-color: #FFE8A6;
    border-color: inherit;
    border-width: 1px;
    color: #000000;
}
*/
#SidBar_
{
    font-family: Arial;
    width: 17%;
    height: 434px;
    float: right;
    padding: 5px;
    background-color: #BCD6E3;
    /*overflow: scroll;*/
    margin-left: 0px;
    background-color: #FFFFFF;
    /*overflow: scroll;*/
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#MainContent_
{
    
    width: 75%;
        /*height: 434px;*/
    float: left; /*  height: 434px;*/ /*height: 2020px;*/
    background-color: #BCD6E3;
    /*overflow: scroll;*/
    margin-left: 0px;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 5px;
    height: 100%;
    text-align: center;
}

#SidBar1
{
    width: 17%;
    height: 434px;
    float: right;
    padding: 5px;
    background-color: #BCD6E3;
    /*overflow: scroll;*/
    margin-left: 0px;
    background-color: #FFFFFF;
    /*overflow: scroll;*/
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#MainContent1
{
    
    width: 75%;
        /*height: 434px;*/
    float: left; /*  height: 434px;*/ /*height: 2020px;*/
    background-color: #BCD6E3;
    /*overflow: scroll;*/
    margin-left: 0px;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 5px;
    height: 100%;
    text-align: center;
}

#MainContent a:link
{
    color: #0066CC;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial;
} 
#MainContent a:hover
{
    color: #FF0000;
    text-decoration: underline;
}


#head
{

    height: 76px;
  /*  width: 100%;
    float: left;*/
    color: #FFFFFF;
    background-color: #F0F0F0;
    border: 1px solid #FFFFFF;
   /* margin-top: 0px;*/
}
#fill
{
    height: 100%;
    width: 100%;
    float: left; /* margin-top: 0px;*/
}

#linee1
{
    width: 100%;
    float: left;
    color: #FFFFFF;
    height: 3px;
    background-color: #000099;
    padding: 0px;
    margin-top: 0px;
    border: 1px solid #FFFFFF;
}
#head a
{
    
    color: #6600CC;
    text-decoration: none;
} 
#head a:hover
{
    color: #6600CC;
    text-decoration: underline;
}

#Map
{
    float: right;
    color: #FFFFFF;
    background-color: #0066FF;
}




h2
{
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 1.65em;
    color: #888888;
}
h3
{
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 18px;
    color: #003366;
    padding-bottom: 12px;
    border-bottom: 1px dotted #bbbbbb;
}

#btn, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6
{
    width: 60px;
    float: right;
    border: 1px solid #808080;
    margin-right: 5px;
    padding: 0px;
    text-align: center;
}
#btn7,#btn8,#btn11,#btn12
{
    float:right;
    border:1px solid #808080;
    margin-right: 5px;
    padding:0px;
    text-align:center;
}
#btn9,#btn10,#btn13,#btn14,#btn15,#btn16,#btn17,#btn18,#btn19,#btn20,#btn21,#btn22
{
    float:right;
    /*border:1px solid red;*/
    /* margin-right: 45px;*/
    padding:0px;
    text-align:center;
    margin-right: 15px;
}
#Text, #Text1, #Text2, #Text3,#Text03, #Text4, #Text5
{
    float: right; /*border:1px solid red;*/
    padding: 3px;
    font-family: Arial;
    font-size: 15px;
    color: #000000;
    font-weight: bold;

}
#Err, #Err1,#Err2, #Err3,#Err4, #Err5,#Err6, #Err7,#Err8, #Err9,#Err10, #Err11,#Err12, #Err13,#Err, #Err14,#Err, #Err15
{
    float: right; /*border:1px solid red;*/

    font-family: Arial;
    font-size: 14px;
    color: #CC0000;
    /*
 margin-top: 3px;
    margin-right: 5px;
    padding: 0px;
*/
}
#Auto, #Auto1, #Auto2, #Auto3,#Auto4, #Auto5, #Auto6
{

    float: right; /*border:1px solid red;*/
    font-family: Arial;
    font-size: 15px;
    color: #000000;
    font-weight: bold;
    height: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

#Command0,#Command3,#Command4
{
    float: right; /*border:1px solid red;*/
    padding: 3px;
    font-family: Arial;
    margin-right: 1px;
    margin-left: 0px;
    direction: ltr;
}
#Login
{
    float: right; /*border:1px solid red;*/
    padding: 3px;
    font-family: Arial;
    margin-right: 65px;
    margin-left: 0px;
}
#Add
{
    float: right; /*border:1px solid red;*/
    padding: 3px;
    font-family: Arial;
    margin-right: 57px;
    margin-left: 0px;
}
#Search
{
    float: right; /*border:1px solid red;*/
    padding: 5px;
    font-family: Arial;
    margin-right: 0px;
    margin-left: 0px;
}
.Err
{
    font-family: Arial;
    font-size: 14px;
    color: #CC0000;
}

.lblCunt
{
    font-family: Arial;
    font-size: 14px;
    color: #990000;
}
.lblTypeSch
{
    font-family: Arial;
    font-size: 16px;
    color: #990000;
}



.Type
{
    font-family: Arial;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    text-align: right;
}
.tex
{
    width:15px
}
.Title
{
    font-family: Arial;
    font-size: 16px;
    color: #000066;
    text-align: right;
}
.STitle
{
    font-family: Arial;
    font-size: 14px;
    color: #000066;
    text-align: right;
}
.LoginS
{
    font-family: Arial;
    font-size: 13px;
    color: #990000;
    text-align: right;
}


/************************111************************************/
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
.clear
{
	clear:both;
	height:0;
	margin:0;
	padding:0;
}
#Title, #Title1, #Title2, #Title3, #Title4, #Title5
{
    font-family: Arial;
    text-align: center;
    margin-right: 12px;
}
.LoginLink
{
 /* color: #217d78; */
 text-align: center;
 font-weight: 700;
}
#SidBar
{
    font-family: Arial;
    width: 17%;
    height: 434px;
    float: right;
    padding: 5px;
    background-color: #BCD6E3;
    overflow: scroll;
    margin-left: 0px;
    background-color: #FFFFFF;
    overflow: scroll;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#MainContent
{
    
    width: 78%;
        /*height: 434px;*/
    float: left; /*  height: 434px;*/ /*height: 2020px;*/
    background-color: #BCD6E3;
    overflow: scroll;
    margin-left: 0px;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 0px;
    padding: 5px;
    height: 100%;
    text-align: center;
}
.unwatermarked {
	height:18px;
	width:148px;
	font-weight:bold;
}

.watermarked {
	height:20px;
	width:150px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}	
.lblStauts
{
    font-family: Arial;
    font-size: 20px;
    color: #CC0000;
}
.lblErr
{
    font-family: Arial;
    font-size: 12px;
    color: #CC0000;
 font-weight: 700;
}
.Td_Required
{
    font-family: Arial;
    font-size: 14px;
    color: #FF0000;
    width: 3px;
}
.Td_Title
{

            font-family: Arial;
            font-size: 16px;
            color: #3333FF;
            font-weight: bold;
            text-align: right;
}
#legend_
{
    color: #CC0000; font-weight: 700; background-color: #EFF5FF;
}
.legend_
{
    color: #217d78;
    font-weight: 700;
    background-color: #f1f4f9;
    text-align: right;
    direction: ltr;
    padding: 10px 20px;
}
        ._Dev1
{
    border: thin solid #CC0000;
    padding: 10px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    font-size: medium;
    font-weight: inherit;
}
.FixImage
{
	float:right;
	border:1px solid red;
	margin:8px 4px 4px 4px;
	padding:5px;
    width: 206px;
    height: 207px;
    direction: ltr;
}
h1
{
    padding-bottom: 12px;
    border-bottom: 1px dotted #bbbbbb;
    font-size: 25px;
    font-family: Arial;
    color: #888888;
    text-align: right;
    margin-bottom: 0px;
    direction: ltr;
}
#linee
{
    width: 100%;
    float: left;
    color: #FFFFFF;
    height: 3px;
    background-color: #000099;
    padding: 0px;
    margin-top: 0px;
    border: 1px solid #FFFFFF;
}
.LoginSTitle
{
 color: #000066;
     font-size: 18px;
    font-family: Arial;
    text-align: center;
}
.LoginTitle
{
    color: #000066;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    font-weight: 700;
}
.LoginCener
{
width: 340px;
text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: #990000;
    text-align: center;
    direction: ltr;
}
.Loginright
{
    width: 200px;
    text-align: right;
}

.Loginleft
{
width: 200px;
text-align: left;
}
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
.Error
{
            font-family: Arial;
            font-size: 14px;
            color: #CC0000;
            width: 19px;
}
.per
{
    font-family: Arial;
    font-size: 16px;
    color: #CC0000;
    width: 19px;
    text-align: center;
}
.EditError
{
    background-color: #ffcccc;
}

/************ MaskedEdit Related Styles ***********************/
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditMessage
{
	color: #ff0000;
	font-weight: bold;
}
.MaskedEditError
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditBlurNegative
{
    color: #ff0000;
}
/*
.MyCalendar .ajax__calendar_container {
    border:1px solid #646464;
    background-color: lemonchiffon;
    color: red;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: black;
    font-weight:bold;
}

.validatorCalloutHighlight 
{
    background-color: lemonchiffon; 
}
*/





        .Td_FillDrop
        {
            color: #3333FF;
        }

                .normalrow  
  
            {  
  
                background-color:white;  
  
            }  
  
        .highlightrow  
  
            {  
  
                background-color:#EEEEEE;  
  
            }  
            
           .Td_Btn
        {
            width: 252px;
        }
        .Td_ViewDrop
        {
            width: 63px;
        }
        .Td_FillDrop
        {
            width: 47px;
        }
        
        ._Dev
{
    border-width: thin;
    padding: 10px;
    text-align: center;
    color: #000000;
    font-weight: 900;
    background-color: #BEDDFE;
    border-bottom-style: solid;
    font-size: large;
}
        
        /********************predIcons******************/
        .predIcons
        {
            font-family: Arial;
            font-size: 12px;
            border-collapse: collapse;
            margin: 0 auto;
            color: #000;
        }
        .predIcons td
        {
            padding: 3px 3px 3px 5px;
            border: 0 solid #ddd;
            text-align: center;
}
        .predIcons tr
        {
            background-color: #fff;
        }
        .predIcons tr.dark
        {
            background-color: #efefef;
        }
        .predIcons tr:hover
{
    background-color: #FDFED3; 
    /* background-color: #E4ECF7; */ 
    /*background-color: #FDFEE3;*/
}
        .predIcons tr.head
        {
            border: 0;
            background: transparent;
        }
        .predIcons tr.head:hover
        {
            background: none;
        }
        .predIcons tr.head td
        {
            border: 0;
        }
        .rbPredefinedIcons
        {
            display: block;
            float: right;
            width: 16px;
            height: 16px;
            background-image: url('../App_Themes/img/rbPredefinedIcons.png');
        }
        .text
        {
            display: block;
            width: 100px;
            float: right;
            text-align: right;
            padding-right: 15px;
        }
        .predIcons .rborder
        {

            border-right: 3px solid #ddd;
            padding-right: 10px;

            font-family: Arial;
            font-size: 16px;
            color: #3333FF;
            font-weight: bold;
            text-align: right;
            width: 108px;

        }
                .predIcons .rborder1
        {

            border-right: 3px solid #ddd;
            padding-right: 10px;

            font-family: Arial;
            font-size: 16px;
            color: #3333FF;
            font-weight: bold;
            text-align: right;
            width: 200px;

        }
        /**/
                /********************predIcons_******************/
        .predIcons_
{
    /*
    border-width: 1px;
    font-family: Arial;
    font-size: 12px;
    border-collapse: collapse;
    margin: 0 auto;
    color: #000;
*/
}

/*
        .predIcons_ td
        {
            padding: 3px 3px 3px 5px;
            border: 0 solid #ddd;
            text-align: right;
}
        .predIcons_ tr
        {
            background-color: #fff;
        }
        .predIcons_ tr.dark
        {
            background-color: #efefef;
        }
        */
        
        .predIcons_ tr:hover
        {
           /* background-color: #FDFEE3;*/
           background-color: #FDFED3; 
        }
        .predIcons_ tr.head
        {
            border: 0;
            background: transparent;
        }
        
        .predIcons_ tr.head:hover
        {
            background: none;
        }
        .predIcons_ tr.head td
        {
            border: 0;
        }
        /*
        .rbPredefinedIcons_
        {
            display: block;
            float: right;
            width: 16px;
            height: 16px;
            background-image: url('../App_Themes/img/rbPredefinedIcons.png');
        }
        .predIcons_ .rborder
        {
            border-right: 3px solid #ddd;
            font-family: Arial;
            font-size: 14px;
            font-size: 16px;
            color: #3333FF;
            font-weight: bold;
            text-align: right;
            width: 108px;
            width:20%;
        }
        */
        
        

    .modalPopup 
    {
	    background-color:#ffffdd;
	    border-width:3px;
	    border-style:solid;
	    border-color:Gray;
	    padding:3px;
	    width:250px;
    }
    .modalBackground 
    {
	    background-color:Gray;
	    /*
	    filter:alpha(opacity=70);
	    opacity:0.7;
*/
    }    
.MasterListView
{
    border-bottom: 1px dotted #bbbbbb;
    background-color: #F7F7F7;
}
.FoterListView
{
    border-bottom: 1px dotted #bbbbbb;
    background-color: #3399FF;
    border-style: dotted;
    border-width: 1px;
    border-color: #bbbbbb;
    color: #FFFFFF;
}
.ItemTemplatee
{
    border-bottom: 1px dotted #bbbbbb;
    background-color: #FFFFFF;
}
.AlternatingItemTemplate
{
    border-bottom: 1px dotted #bbbbbb;
    background-color: #F4F4F4;
}
        .Div1
        {
            text-align: right;
        }
        .Div2
        {
            text-align: Left;
        }
        /*RAD Grid Style*/
.AlternatingItemStyle
{
    background-color: #E8F0FE;
    font-size: 12px;
    font-family: Arial;
}
.ItemStyle
{
    /*background-color: #E8F0FE;*/
    font-size: 12px;
    font-family: Arial;
}
