@model Hr.Models.MasterDetails

@{
    ViewData["Title"] = "رفض";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>رفض الطلب </h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">رقم الطلب </label>
                <input asp-for="COURCES_IDMASTER" readonly class="form-control" />
                <span asp-validation-for="COURCES_IDMASTER" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MasterRequestFrom" class="control-label"></label>
                <input asp-for="MasterRequestFrom" class="form-control" />
                <span asp-validation-for="MasterRequestFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterRequestTo" class="control-label"></label>
                <input asp-for="MasterRequestTo" class="form-control" />
                <span asp-validation-for="MasterRequestTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterRequestTypeSatus" class="control-label"></label>
                <input asp-for="MasterRequestTypeSatus" class="form-control" />
                <span asp-validation-for="MasterRequestTypeSatus" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label  class="control-label">تعليق </label>
                <input asp-for="MasterRequestNotes" class="form-control" />
                <span asp-validation-for="MasterRequestNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
