USE [master]
GO
/****** Object:  Database [hr]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE DATABASE [hr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hr.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hr]
GO
/****** Object:  User [hr]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE USER [hr] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hr]
GO
/****** Object:  UserDefinedFunction [dbo].[ConvertHijriToGreg]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ConvertHijriToGreg]
(
	-- Add the parameters for the function here
	@date varchar(10)
)
RETURNS varchar(20)
AS
BEGIN
		declare @year varchar(4)
		set @year= substring(@date,1,4)

		declare @month varchar(2)
		set @month= substring(@date,5,2)

		declare @day varchar(2)
		set @day= substring(@date,7,2)

		DECLARE @DateTime2 AS varchar(10)
		SET @DateTime2 = @day + '/' + @month + '/' + @year
		
		declare @rtn varchar(20)
		set @rtn = convert(date, @DateTime2, 131)


	-- Return the result of the function
	RETURN @rtn

END



GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_CERT_IMAGE]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_CERT_IMAGE](
	[COURCES_ID_IMAGECERT] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_IDMASTER] [int] NULL,
	[IMAGE_NAME] [nvarchar](255) NULL,
	[IMAGE_PATH] [nvarchar](255) NULL,
	[IMAGE_TYPE] [nvarchar](255) NULL,
	[IMAGE_CREATED_DATE] [date] NOT NULL,
	[FILE_NAME1] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_A_COURCES_CERT_IMAGE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_IMAGECERT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_CERT_IMAGEHR]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_CERT_IMAGEHR](
	[COURCES_ID_IMAGEHR] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_IDMASTER] [int] NULL,
	[IMAGE_NAME] [nvarchar](255) NULL,
	[IMAGE_PATH] [nvarchar](255) NULL,
	[IMAGE_TYPE] [nvarchar](255) NULL,
	[IMAGE_CREATED_DATE] [date] NOT NULL,
	[FILE_NAME1] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_A_COURCES_CERT_IMAGEHR] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_IMAGEHR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_DEPTIN]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_DEPTIN](
	[COURCES_ID_DEPTIN] [int] IDENTITY(1111111114,1) NOT NULL,
	[COURCES_NAME_DEPTIN] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_DEPTIN] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_DEPTIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_DEPTOUT]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_DEPTOUT](
	[COURCES_ID_DEPTOUT] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_DEPTOUT] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_DEPTOUT] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_DEPTOUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_ESTIMATE]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_ESTIMATE](
	[COURCES_ID_ESTIMATE] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_ESTIMATE] [nvarchar](250) NULL,
	[Range] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_ESTIMATE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_ESTIMATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_LOCATIONS]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_LOCATIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_MASTER]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_MASTER](
	[COURCES_IDMASTER] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_ID] [int] NOT NULL,
	[COURCES_ID_TYPE] [int] NOT NULL,
	[COURCES_ID_DEPTIN] [int] NOT NULL,
	[COURCES_ID_TRAINING] [int] NOT NULL,
	[COURCES_ID_DEPTOUT] [int] NOT NULL,
	[COURCES_ID_ESTIMATE] [int] NULL,
	[COURCES_ID_IMAGECERT] [nvarchar](250) NULL,
	[COURCES_ID_IMAGEHR] [nvarchar](250) NULL,
	[COURCES_START_DATE] [date] NOT NULL,
	[COURCES_END_DATE] [date] NOT NULL,
	[COURCES_NUMBEROFDAYS] [int] NOT NULL,
	[COURCES_PASS_RATE] [nvarchar](250) NULL,
	[CEMPID] [nvarchar](250) NOT NULL,
	[COURSES_START_DATE_HIJ] [date] NULL,
	[COURSES_END_DATE_HIJ] [date] NULL,
 CONSTRAINT [PK_A_COURCES_MASTER] PRIMARY KEY CLUSTERED 
(
	[COURCES_IDMASTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_NAME]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_NAME](
	[COURCES_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_NAME] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_OPTIONS]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_OPTIONS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[optionch] [nvarchar](50) NULL,
 CONSTRAINT [PK_A_COURCES_OPTIONS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_TRAINING_METHOD]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_TRAINING_METHOD](
	[COURCES_ID_TRAINING] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_TRAINING] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_TRAINING_METHOD] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_TRAINING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_TYPE]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_TYPE](
	[COURCES_ID_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_TYPE_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_TYPE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES-MANAGEMENTIN]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES-MANAGEMENTIN](
	[COURCES_ID_MANAGEMENTIN] [int] IDENTITY(1111111114,1) NOT NULL,
	[COURCES_NAME_MANAGEMENTIN] [nvarchar](250) NULL,
	[ManagerId] [nvarchar](250) NULL,
	[ManagerName] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES-MANAGEMENTIN] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_MANAGEMENTIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES-OFFERED_FOR_CANDIDACY]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES-OFFERED_FOR_CANDIDACY](
	[A_COURCES-OFFEREDID] [int] IDENTITY(10000,1) NOT NULL,
	[COURCES_ID] [int] NOT NULL,
	[COURCES_ID_DEPTOUT] [int] NOT NULL,
	[COURCES_ID_LOCATIONID] [int] NOT NULL,
	[COURCES_ID_MANAGEMENTIN] [int] NOT NULL,
	[COURCES_PERIODBYDAYS] [int] NOT NULL,
	[COURCES_TIME] [nvarchar](50) NOT NULL,
	[COURCES_START_DATE] [date] NOT NULL,
	[COURCES_ID_TRAINING] [int] NOT NULL,
	[COURSES_START_DATE_HIJ] [date] NOT NULL,
	[CEMPID] [nvarchar](250) NULL,
	[option] [int] NULL,
 CONSTRAINT [PK_A_COURCES-OFFERED_FOR_CANDIDACY] PRIMARY KEY CLUSTERED 
(
	[A_COURCES-OFFEREDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CEMPS]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEMPS](
	[CEMPID] [nvarchar](250) NOT NULL,
	[CEMPUSERNO] [nvarchar](250) NOT NULL,
	[CEMPPASSWRD] [nvarchar](250) NOT NULL,
	[CEMPNO] [nvarchar](250) NOT NULL,
	[CEMPNAME] [nvarchar](250) NOT NULL,
	[CEMPJOBNAME] [nvarchar](250) NOT NULL,
	[CEMPADPRTNO] [nvarchar](250) NOT NULL,
	[DEP_NAME] [nvarchar](250) NOT NULL,
	[CLSSNO] [nvarchar](250) NOT NULL,
	[MANAGERID] [nvarchar](250) NOT NULL,
	[MANAGERNAME] [nvarchar](250) NOT NULL,
	[PARENTID] [nvarchar](250) NOT NULL,
	[PARENTNAME] [nvarchar](250) NOT NULL,
	[CEMPHIRINGDATE] [date] NULL,
	[CEMPHIRINGDATEHIJRA] [date] NULL,
	[CEMPLASTUPGRADE] [date] NULL,
	[CEMPLASTUPGRADEHIJRA] [date] NULL,
	[CROLEID] [int] NULL,
	[login] [char](1) NOT NULL,
	[imagepath] [nvarchar](250) NULL,
 CONSTRAINT [PK_CEMPS] PRIMARY KEY CLUSTERED 
(
	[CEMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartWithMnagement]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartWithMnagement](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CEMPADPRTNO] [nvarchar](250) NULL,
	[DEP_NAME] [nvarchar](250) NULL,
	[MANAGERID] [nvarchar](250) NULL,
	[MANAGERNAME] [nvarchar](250) NULL,
	[PARENTID] [nvarchar](250) NULL,
	[PARENTNAME] [nvarchar](250) NULL,
	[PARENTMANAGERID] [nvarchar](250) NULL,
	[PARENTMANAGERNAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_DepartWithMnagement] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDetails]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDetails](
	[MasterDetailsSerial] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_IDMASTER] [int] NOT NULL,
	[MasterRequestFrom] [nvarchar](250) NOT NULL,
	[MasterRequestTo] [nvarchar](250) NOT NULL,
	[MasterRequestTo2] [nvarchar](250) NULL,
	[MasterRequestTypeSatus] [int] NOT NULL,
	[MasterRequestNotes] [nvarchar](250) NULL,
 CONSTRAINT [PK_MasterDetails_1] PRIMARY KEY CLUSTERED 
(
	[MasterDetailsSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterRequestTypeId]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterRequestTypeId](
	[MasterRequestTypeIdsMasterRequestTypeIdserial] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_IDMASTER] [int] NOT NULL,
	[MasterRequestType] [int] NOT NULL,
 CONSTRAINT [PK_MasterRequestTypeId_1] PRIMARY KEY CLUSTERED 
(
	[MasterRequestTypeIdsMasterRequestTypeIdserial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferedDetails]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferedDetails](
	[OfferedDetailsSerial] [int] IDENTITY(10000,1) NOT NULL,
	[COURCES_IDOffered] [int] NOT NULL,
	[OfferedRequestFrom] [nvarchar](250) NOT NULL,
	[OfferedRequestTo] [nvarchar](250) NULL,
	[OfferedRequestTo2] [nvarchar](250) NULL,
	[OfferedRequestTo3] [nvarchar](50) NULL,
	[OfferedRequestTo4] [nvarchar](250) NULL,
	[OfferedRequestTo5] [nvarchar](250) NULL,
	[OfferedRequestTypeSatus] [int] NOT NULL,
	[OfferedRequestNotes] [nvarchar](250) NOT NULL,
	[Offeredoption] [int] NULL,
 CONSTRAINT [PK_OfferedDetails] PRIMARY KEY CLUSTERED 
(
	[OfferedDetailsSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferedRequestTypeId]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferedRequestTypeId](
	[OfferedRequestTypeIdsOfferedRequestTypeIdserial] [int] IDENTITY(10000,1) NOT NULL,
	[COURCES_IDOffered] [int] NOT NULL,
	[OfferedRequestType] [int] NOT NULL,
 CONSTRAINT [PK_OfferedRequestTypeId] PRIMARY KEY CLUSTERED 
(
	[OfferedRequestTypeIdsOfferedRequestTypeIdserial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](250) NOT NULL,
	[cpassword] [nvarchar](250) NOT NULL,
	[roleid] [int] NOT NULL,
	[login] [bit] NOT NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMainMenu]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMainMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mainmenue] [nvarchar](250) NULL,
	[mainarabic] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblMainMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Roles] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubMenu]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SubMenuear] [nvarchar](250) NULL,
	[SubMenueen] [nvarchar](250) NULL,
	[Controller] [nvarchar](250) NULL,
	[Action] [nvarchar](250) NULL,
	[mainmenueid] [int] NULL,
	[roleid] [int] NULL,
	[mmodule] [nvarchar](250) NULL,
	[treeroot] [int] NULL,
 CONSTRAINT [PK_tblSubMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[temphiringdate]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temphiringdate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empno] [nvarchar](250) NULL,
	[hirdate] [nvarchar](250) NULL,
	[hidateconverted] [nvarchar](250) NULL,
	[hidateconverted2] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tempupgradingdate]    Script Date: 6/10/2021 2:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempupgradingdate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empno] [nvarchar](50) NULL,
	[upgradingdate] [nvarchar](50) NULL,
	[upgradingdate1] [nvarchar](50) NULL,
	[maxv] [nvarchar](50) NULL,
	[upgradingdat2] [nvarchar](50) NULL,
	[upgradingdateconverted] [nvarchar](50) NULL,
 CONSTRAINT [PK_tempupgradingdate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/10/2021 2:16:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[A_COURCES_CERT_IMAGE] ADD  CONSTRAINT [DF_A_COURCES_CERT_IMAGE_IMAGE_CREATED_DATE]  DEFAULT (getdate()) FOR [IMAGE_CREATED_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_CERT_IMAGEHR] ADD  CONSTRAINT [DF_A_COURCES_CERT_IMAGEHR_IMAGE_CREATED_DATE]  DEFAULT (getdate()) FOR [IMAGE_CREATED_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_ID_ESTIMATE]  DEFAULT ((7)) FOR [COURCES_ID_ESTIMATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_START_DATE]  DEFAULT (getdate()) FOR [COURCES_START_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_END_DATE]  DEFAULT (getdate()) FOR [COURCES_END_DATE]
GO
ALTER TABLE [dbo].[A_COURCES-OFFERED_FOR_CANDIDACY] ADD  CONSTRAINT [DF_A_COURCES-OFFERED_FOR_CANDIDACY_option]  DEFAULT ((2)) FOR [option]
GO
ALTER TABLE [dbo].[CEMPS] ADD  CONSTRAINT [DF_CEMPS_CROLEID]  DEFAULT ((3)) FOR [CROLEID]
GO
ALTER TABLE [dbo].[CEMPS] ADD  CONSTRAINT [DF_CEMPS_login]  DEFAULT ((1)) FOR [login]
GO
ALTER TABLE [dbo].[MasterDetails] ADD  CONSTRAINT [DF_MasterDetails_MasterRequestTypeSatus]  DEFAULT ((0)) FOR [MasterRequestTypeSatus]
GO
ALTER TABLE [dbo].[MasterRequestTypeId] ADD  CONSTRAINT [DF_MasterRequestTypeId_Req-Type]  DEFAULT ((0)) FOR [MasterRequestType]
GO
ALTER TABLE [dbo].[OfferedDetails] ADD  CONSTRAINT [DF_OfferedDetails_OfferedRequestTypeSatus]  DEFAULT ((0)) FOR [OfferedRequestTypeSatus]
GO
ALTER TABLE [dbo].[OfferedRequestTypeId] ADD  CONSTRAINT [DF_OfferedRequestTypeId_OfferedRequestType]  DEFAULT ((0)) FOR [OfferedRequestType]
GO
ALTER TABLE [dbo].[tblLogin] ADD  CONSTRAINT [DF_tblLogin_roleid]  DEFAULT ((3)) FOR [roleid]
GO
ALTER TABLE [dbo].[tblLogin] ADD  CONSTRAINT [DF_tblLogin_login]  DEFAULT ((1)) FOR [login]
GO
ALTER TABLE [dbo].[tblSubMenu] ADD  CONSTRAINT [DF_tblSubMenu_mmodule]  DEFAULT (N'hr-courses') FOR [mmodule]
GO
ALTER TABLE [dbo].[tblSubMenu] ADD  CONSTRAINT [DF_tblSubMenu_treeroot]  DEFAULT ((1)) FOR [treeroot]
GO
ALTER TABLE [dbo].[A_COURCES_NAME]  WITH CHECK ADD  CONSTRAINT [FK_A_COURCES_NAME_A_COURCES_NAME] FOREIGN KEY([COURCES_ID])
REFERENCES [dbo].[A_COURCES_NAME] ([COURCES_ID])
GO
ALTER TABLE [dbo].[A_COURCES_NAME] CHECK CONSTRAINT [FK_A_COURCES_NAME_A_COURCES_NAME]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
USE [master]
GO
