USE [master]
GO
/****** Object:  Database [hr]    Script Date: 08/09/42 09:35:15 م ******/
CREATE DATABASE [hr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hr]
GO
/****** Object:  Table [dbo].[A_COURCES_CERT_IMAGE]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_CERT_IMAGE](
	[COURCES_ID_IMAGECERT] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_IDMASTER] [int] NULL,
	[IMAGE_NAME] [nvarchar](255) NULL,
	[IMAGE_PATH] [nvarchar](255) NULL,
	[IMAGE_TYPE] [nvarchar](255) NULL,
	[IMAGE_CREATED_DATE] [date] NOT NULL,
	[FILE_NAME1] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_A_COURCES_CERT_IMAGE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_IMAGECERT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_CERT_IMAGEHR]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_CERT_IMAGEHR](
	[COURCES_ID_IMAGEHR] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_IDMASTER] [int] NULL,
	[IMAGE_NAME] [nvarchar](255) NULL,
	[IMAGE_PATH] [nvarchar](255) NULL,
	[IMAGE_TYPE] [nvarchar](255) NULL,
	[IMAGE_CREATED_DATE] [date] NOT NULL,
	[FILE_NAME1] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_A_COURCES_CERT_IMAGEHR] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_IMAGEHR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_DEPTIN]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_DEPTIN](
	[COURCES_ID_DEPTIN] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_DEPTIN] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_DEPTIN] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_DEPTIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_DEPTOUT]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_DEPTOUT](
	[COURCES_ID_DEPTOUT] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_DEPTOUT] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_DEPTOUT] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_DEPTOUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_ESTIMATE]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_ESTIMATE](
	[COURCES_ID_ESTIMATE] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_ESTIMATE] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_ESTIMATE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_ESTIMATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_MASTER]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_MASTER](
	[COURCES_IDMASTER] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_ID] [int] NULL,
	[COURCES_ID_TYPE] [int] NULL,
	[COURCES_ID_DEPTIN] [int] NULL,
	[COURCES_ID_TRAINING] [int] NULL,
	[COURCES_ID_DEPTOUT] [int] NULL,
	[COURCES_ID_ESTIMATE] [int] NULL,
	[COURCES_ID_IMAGECERT] [nvarchar](250) NULL,
	[COURCES_ID_IMAGEHR] [nvarchar](250) NULL,
	[COURCES_START_DATE] [date] NOT NULL,
	[COURCES_END_DATE] [date] NOT NULL,
	[COURCES_NUMBEROFDAYS] [int] NULL,
	[COURCES_PASS_RATE] [nvarchar](255) NULL,
	[CEMPID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_A_COURCES_MASTER] PRIMARY KEY CLUSTERED 
(
	[COURCES_IDMASTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_NAME]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_NAME](
	[COURCES_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_NAME] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_TRAINING_METHOD]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_TRAINING_METHOD](
	[COURCES_ID_TRAINING] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_TRAINING] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_TRAINING_METHOD] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_TRAINING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_TYPE]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_TYPE](
	[COURCES_ID_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_TYPE_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_TYPE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CEMPS]    Script Date: 08/09/42 09:35:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEMPS](
	[CEMPID] [nvarchar](250) NOT NULL,
	[CEMPNAME] [nvarchar](250) NOT NULL,
	[CEMPUSER] [nvarchar](250) NOT NULL,
	[CEMPIDENTITYID] [nvarchar](250) NOT NULL,
	[CEMPDEPARTMENT] [nvarchar](250) NOT NULL,
	[CEMPGRADE] [nvarchar](250) NOT NULL,
	[CEMPTITLE] [nvarchar](250) NOT NULL,
	[CEMPHIRINGDATE] [date] NOT NULL,
	[CEMPLASTUPGRADE] [date] NOT NULL,
	[CEMPOTHER1] [nvarchar](250) NULL,
	[CEMPOTHER2] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDetails]    Script Date: 08/09/42 09:35:20 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDetails](
	[MasterDetailsSerial] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_IDMASTER] [int] NOT NULL,
	[MasterRequestFrom] [nvarchar](250) NOT NULL,
	[MasterRequestTo] [nvarchar](250) NOT NULL,
	[MasterRequestTypeSatus] [int] NOT NULL,
	[MasterRequestNotes] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_MasterDetails] PRIMARY KEY CLUSTERED 
(
	[MasterDetailsSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterRequestTypeId]    Script Date: 08/09/42 09:35:20 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterRequestTypeId](
	[MasterRequestTypeIdsMasterRequestTypeIdserial] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_IDMASTER] [int] NOT NULL,
	[MasterRequestType] [int] NOT NULL,
 CONSTRAINT [PK_MasterRequestTypeId] PRIMARY KEY CLUSTERED 
(
	[MasterRequestTypeIdsMasterRequestTypeIdserial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTIN] ON 

INSERT [dbo].[A_COURCES_DEPTIN] ([COURCES_ID_DEPTIN], [COURCES_NAME_DEPTIN]) VALUES (1, N'ادارة تقنية المعلومات')
INSERT [dbo].[A_COURCES_DEPTIN] ([COURCES_ID_DEPTIN], [COURCES_NAME_DEPTIN]) VALUES (2, N'ادارة المالية')
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTIN] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTOUT] ON 

INSERT [dbo].[A_COURCES_DEPTOUT] ([COURCES_ID_DEPTOUT], [COURCES_NAME_DEPTOUT]) VALUES (1, N'وزارة الشئون البلدية والقروية')
INSERT [dbo].[A_COURCES_DEPTOUT] ([COURCES_ID_DEPTOUT], [COURCES_NAME_DEPTOUT]) VALUES (2, N'وزارة المالية')
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTOUT] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_ESTIMATE] ON 

INSERT [dbo].[A_COURCES_ESTIMATE] ([COURCES_ID_ESTIMATE], [COURCES_NAME_ESTIMATE]) VALUES (1, N'ممتاز')
INSERT [dbo].[A_COURCES_ESTIMATE] ([COURCES_ID_ESTIMATE], [COURCES_NAME_ESTIMATE]) VALUES (2, N'جيد جدا')
INSERT [dbo].[A_COURCES_ESTIMATE] ([COURCES_ID_ESTIMATE], [COURCES_NAME_ESTIMATE]) VALUES (3, N'جيد ')
SET IDENTITY_INSERT [dbo].[A_COURCES_ESTIMATE] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_MASTER] ON 

INSERT [dbo].[A_COURCES_MASTER] ([COURCES_IDMASTER], [COURCES_ID], [COURCES_ID_TYPE], [COURCES_ID_DEPTIN], [COURCES_ID_TRAINING], [COURCES_ID_DEPTOUT], [COURCES_ID_ESTIMATE], [COURCES_ID_IMAGECERT], [COURCES_ID_IMAGEHR], [COURCES_START_DATE], [COURCES_END_DATE], [COURCES_NUMBEROFDAYS], [COURCES_PASS_RATE], [CEMPID]) VALUES (1002, 1, 1, 1, 1, 1, 1, N'IMG_٢٠١٥٠٣٢٩_١٥٤٩٣٤.jpg', N'IMG_٢٠١٥٠٢١٠_١٤٤٥٠٦.jpg', CAST(N'2021-04-01' AS Date), CAST(N'2021-04-28' AS Date), 27, N'90', N'0')
INSERT [dbo].[A_COURCES_MASTER] ([COURCES_IDMASTER], [COURCES_ID], [COURCES_ID_TYPE], [COURCES_ID_DEPTIN], [COURCES_ID_TRAINING], [COURCES_ID_DEPTOUT], [COURCES_ID_ESTIMATE], [COURCES_ID_IMAGECERT], [COURCES_ID_IMAGEHR], [COURCES_START_DATE], [COURCES_END_DATE], [COURCES_NUMBEROFDAYS], [COURCES_PASS_RATE], [CEMPID]) VALUES (1003, 1, 2, 2, 2, 2, 3, N'IMG_٢٠١٥٠٢١٠_١٤٥٦٠٥.jpg', N'IMG_٢٠١٥٠١٢٩_١٩٠١٣٢.jpg', CAST(N'2021-04-08' AS Date), CAST(N'2021-04-30' AS Date), 22, N'55', N'0')
SET IDENTITY_INSERT [dbo].[A_COURCES_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_NAME] ON 

INSERT [dbo].[A_COURCES_NAME] ([COURCES_ID], [COURCES_NAME]) VALUES (1, N'برمجة')
INSERT [dbo].[A_COURCES_NAME] ([COURCES_ID], [COURCES_NAME]) VALUES (2, N'شبكات')
SET IDENTITY_INSERT [dbo].[A_COURCES_NAME] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_TRAINING_METHOD] ON 

INSERT [dbo].[A_COURCES_TRAINING_METHOD] ([COURCES_ID_TRAINING], [COURCES_NAME_TRAINING]) VALUES (1, N'عن بعد')
INSERT [dbo].[A_COURCES_TRAINING_METHOD] ([COURCES_ID_TRAINING], [COURCES_NAME_TRAINING]) VALUES (2, N'حضور')
INSERT [dbo].[A_COURCES_TRAINING_METHOD] ([COURCES_ID_TRAINING], [COURCES_NAME_TRAINING]) VALUES (3, N'-')
SET IDENTITY_INSERT [dbo].[A_COURCES_TRAINING_METHOD] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_TYPE] ON 

INSERT [dbo].[A_COURCES_TYPE] ([COURCES_ID_TYPE], [COURCES_TYPE_NAME]) VALUES (1, N'دورة لا تتضمن اختبار اجتياز')
INSERT [dbo].[A_COURCES_TYPE] ([COURCES_ID_TYPE], [COURCES_TYPE_NAME]) VALUES (2, N'دورة تتضمن اختبار اجتياز')
INSERT [dbo].[A_COURCES_TYPE] ([COURCES_ID_TYPE], [COURCES_TYPE_NAME]) VALUES (3, N'دورة إثرائية')
SET IDENTITY_INSERT [dbo].[A_COURCES_TYPE] OFF
GO
INSERT [dbo].[CEMPS] ([CEMPID], [CEMPNAME], [CEMPUSER], [CEMPIDENTITYID], [CEMPDEPARTMENT], [CEMPGRADE], [CEMPTITLE], [CEMPHIRINGDATE], [CEMPLASTUPGRADE], [CEMPOTHER1], [CEMPOTHER2]) VALUES (N'0', N'test', N'test', N't', N't', N't', N't', CAST(N'2020-10-20' AS Date), CAST(N'2020-05-06' AS Date), N'22', N'22')
GO
SET IDENTITY_INSERT [dbo].[MasterDetails] ON 

INSERT [dbo].[MasterDetails] ([MasterDetailsSerial], [COURCES_IDMASTER], [MasterRequestFrom], [MasterRequestTo], [MasterRequestTypeSatus], [MasterRequestNotes]) VALUES (1000, 1003, N'0', N'0', 0, N'')
INSERT [dbo].[MasterDetails] ([MasterDetailsSerial], [COURCES_IDMASTER], [MasterRequestFrom], [MasterRequestTo], [MasterRequestTypeSatus], [MasterRequestNotes]) VALUES (1001, 1004, N'0', N'0', 0, N'')
SET IDENTITY_INSERT [dbo].[MasterDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterRequestTypeId] ON 

INSERT [dbo].[MasterRequestTypeId] ([MasterRequestTypeIdsMasterRequestTypeIdserial], [COURCES_IDMASTER], [MasterRequestType]) VALUES (1000, 1003, 0)
INSERT [dbo].[MasterRequestTypeId] ([MasterRequestTypeIdsMasterRequestTypeIdserial], [COURCES_IDMASTER], [MasterRequestType]) VALUES (1001, 1004, 0)
SET IDENTITY_INSERT [dbo].[MasterRequestTypeId] OFF
GO
ALTER TABLE [dbo].[A_COURCES_CERT_IMAGE] ADD  CONSTRAINT [DF_A_COURCES_CERT_IMAGE_IMAGE_CREATED_DATE]  DEFAULT (getdate()) FOR [IMAGE_CREATED_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_CERT_IMAGEHR] ADD  CONSTRAINT [DF_A_COURCES_CERT_IMAGEHR_IMAGE_CREATED_DATE]  DEFAULT (getdate()) FOR [IMAGE_CREATED_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_START_DATE]  DEFAULT (getdate()) FOR [COURCES_START_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_END_DATE]  DEFAULT (getdate()) FOR [COURCES_END_DATE]
GO
ALTER TABLE [dbo].[MasterDetails] ADD  CONSTRAINT [DF_MasterDetails_MasterRequestTypeSatus]  DEFAULT ((0)) FOR [MasterRequestTypeSatus]
GO
ALTER TABLE [dbo].[MasterRequestTypeId] ADD  CONSTRAINT [DF_MasterRequestTypeId_Req-Type]  DEFAULT ((0)) FOR [MasterRequestType]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_A_COURCES_MASTER_A_COURCES_NAME] FOREIGN KEY([COURCES_ID])
REFERENCES [dbo].[A_COURCES_NAME] ([COURCES_ID])
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] CHECK CONSTRAINT [FK_A_COURCES_MASTER_A_COURCES_NAME]
GO
ALTER TABLE [dbo].[A_COURCES_NAME]  WITH CHECK ADD  CONSTRAINT [FK_A_COURCES_NAME_A_COURCES_NAME] FOREIGN KEY([COURCES_ID])
REFERENCES [dbo].[A_COURCES_NAME] ([COURCES_ID])
GO
ALTER TABLE [dbo].[A_COURCES_NAME] CHECK CONSTRAINT [FK_A_COURCES_NAME_A_COURCES_NAME]
GO
USE [master]
GO
