USE [master]
GO
/****** Object:  Database [hr]    Script Date: 23/09/42 10:53:17 ص ******/
CREATE DATABASE [hr]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hr', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hr.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hr_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\hr_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hr].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hr]
GO
/****** Object:  Table [dbo].[A_COURCES_CERT_IMAGE]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_CERT_IMAGE](
	[COURCES_ID_IMAGECERT] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_IDMASTER] [int] NULL,
	[IMAGE_NAME] [nvarchar](255) NULL,
	[IMAGE_PATH] [nvarchar](255) NULL,
	[IMAGE_TYPE] [nvarchar](255) NULL,
	[IMAGE_CREATED_DATE] [date] NOT NULL,
	[FILE_NAME1] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_A_COURCES_CERT_IMAGE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_IMAGECERT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_CERT_IMAGEHR]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_CERT_IMAGEHR](
	[COURCES_ID_IMAGEHR] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_IDMASTER] [int] NULL,
	[IMAGE_NAME] [nvarchar](255) NULL,
	[IMAGE_PATH] [nvarchar](255) NULL,
	[IMAGE_TYPE] [nvarchar](255) NULL,
	[IMAGE_CREATED_DATE] [date] NOT NULL,
	[FILE_NAME1] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_A_COURCES_CERT_IMAGEHR] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_IMAGEHR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_DEPTIN]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_DEPTIN](
	[COURCES_ID_DEPTIN] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_DEPTIN] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_DEPTIN] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_DEPTIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_DEPTOUT]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_DEPTOUT](
	[COURCES_ID_DEPTOUT] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_DEPTOUT] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_DEPTOUT] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_DEPTOUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_ESTIMATE]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_ESTIMATE](
	[COURCES_ID_ESTIMATE] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_ESTIMATE] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_ESTIMATE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_ESTIMATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_MASTER]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_MASTER](
	[COURCES_IDMASTER] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_ID] [int] NOT NULL,
	[COURCES_ID_TYPE] [int] NOT NULL,
	[COURCES_ID_DEPTIN] [int] NOT NULL,
	[COURCES_ID_TRAINING] [int] NOT NULL,
	[COURCES_ID_DEPTOUT] [int] NOT NULL,
	[COURCES_ID_ESTIMATE] [int] NOT NULL,
	[COURCES_ID_IMAGECERT] [nvarchar](250) NULL,
	[COURCES_ID_IMAGEHR] [nvarchar](250) NULL,
	[COURCES_START_DATE] [date] NOT NULL,
	[COURCES_END_DATE] [date] NOT NULL,
	[COURCES_NUMBEROFDAYS] [int] NOT NULL,
	[COURCES_PASS_RATE] [decimal](2, 0) NOT NULL,
	[CEMPID] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_A_COURCES_MASTER] PRIMARY KEY CLUSTERED 
(
	[COURCES_IDMASTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_NAME]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_NAME](
	[COURCES_ID] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_NAME] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_TRAINING_METHOD]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_TRAINING_METHOD](
	[COURCES_ID_TRAINING] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_NAME_TRAINING] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_TRAINING_METHOD] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_TRAINING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_COURCES_TYPE]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_COURCES_TYPE](
	[COURCES_ID_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[COURCES_TYPE_NAME] [nvarchar](250) NULL,
 CONSTRAINT [PK_A_COURCES_TYPE] PRIMARY KEY CLUSTERED 
(
	[COURCES_ID_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CEMPS]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CEMPS](
	[CEMPID] [nvarchar](250) NOT NULL,
	[CEMPUSERNO] [nvarchar](250) NOT NULL,
	[CEMPPASSWRD] [nvarchar](250) NOT NULL,
	[CEMPNO] [nvarchar](250) NOT NULL,
	[CEMPNAME] [nvarchar](250) NOT NULL,
	[CEMPJOBNAME] [nvarchar](250) NOT NULL,
	[CEMPADPRTNO] [nvarchar](250) NOT NULL,
	[DEP_NAME] [nvarchar](250) NOT NULL,
	[CLSSNO] [nvarchar](250) NOT NULL,
	[MANAGERID] [nvarchar](250) NOT NULL,
	[MANAGERNAME] [nvarchar](250) NOT NULL,
	[PARENTID] [nvarchar](250) NOT NULL,
	[PARENTNAME] [nvarchar](250) NOT NULL,
	[CEMPHIRINGDATE] [date] NULL,
	[CEMPLASTUPGRADE] [date] NULL,
	[CROLEID] [int] NULL,
 CONSTRAINT [PK_CEMPS] PRIMARY KEY CLUSTERED 
(
	[CEMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDetails]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDetails](
	[MasterDetailsSerial] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_IDMASTER] [int] NOT NULL,
	[MasterRequestFrom] [nvarchar](250) NOT NULL,
	[MasterRequestTo] [nvarchar](250) NOT NULL,
	[MasterRequestTypeSatus] [int] NOT NULL,
	[MasterRequestNotes] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_MasterDetails_1] PRIMARY KEY CLUSTERED 
(
	[MasterDetailsSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterRequestTypeId]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterRequestTypeId](
	[MasterRequestTypeIdsMasterRequestTypeIdserial] [int] IDENTITY(1000,1) NOT NULL,
	[COURCES_IDMASTER] [int] NOT NULL,
	[MasterRequestType] [int] NOT NULL,
 CONSTRAINT [PK_MasterRequestTypeId_1] PRIMARY KEY CLUSTERED 
(
	[MasterRequestTypeIdsMasterRequestTypeIdserial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](250) NOT NULL,
	[cpassword] [nvarchar](250) NOT NULL,
	[roleid] [int] NOT NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMainMenu]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMainMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mainmenue] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblMainMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Roles] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubMenu]    Script Date: 23/09/42 10:53:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubMenu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SubMenuear] [nvarchar](250) NULL,
	[SubMenueen] [nvarchar](250) NULL,
	[Controller] [nvarchar](250) NULL,
	[Action] [nvarchar](250) NULL,
	[mainmenueid] [int] NULL,
	[roleid] [int] NULL,
 CONSTRAINT [PK_tblSubMenu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTIN] ON 

INSERT [dbo].[A_COURCES_DEPTIN] ([COURCES_ID_DEPTIN], [COURCES_NAME_DEPTIN]) VALUES (1, N'ادارة تقنية المعلومات')
INSERT [dbo].[A_COURCES_DEPTIN] ([COURCES_ID_DEPTIN], [COURCES_NAME_DEPTIN]) VALUES (2, N'ادارة المالية')
INSERT [dbo].[A_COURCES_DEPTIN] ([COURCES_ID_DEPTIN], [COURCES_NAME_DEPTIN]) VALUES (3, N'ادارة التخطيط')
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTIN] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTOUT] ON 

INSERT [dbo].[A_COURCES_DEPTOUT] ([COURCES_ID_DEPTOUT], [COURCES_NAME_DEPTOUT]) VALUES (1, N'وزارة الشئون البلدية والقروية')
INSERT [dbo].[A_COURCES_DEPTOUT] ([COURCES_ID_DEPTOUT], [COURCES_NAME_DEPTOUT]) VALUES (2, N'وزارة المالية')
SET IDENTITY_INSERT [dbo].[A_COURCES_DEPTOUT] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_ESTIMATE] ON 

INSERT [dbo].[A_COURCES_ESTIMATE] ([COURCES_ID_ESTIMATE], [COURCES_NAME_ESTIMATE]) VALUES (1, N'ممتاز')
INSERT [dbo].[A_COURCES_ESTIMATE] ([COURCES_ID_ESTIMATE], [COURCES_NAME_ESTIMATE]) VALUES (2, N'جيد جدا')
INSERT [dbo].[A_COURCES_ESTIMATE] ([COURCES_ID_ESTIMATE], [COURCES_NAME_ESTIMATE]) VALUES (3, N'جيد ')
SET IDENTITY_INSERT [dbo].[A_COURCES_ESTIMATE] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_MASTER] ON 

INSERT [dbo].[A_COURCES_MASTER] ([COURCES_IDMASTER], [COURCES_ID], [COURCES_ID_TYPE], [COURCES_ID_DEPTIN], [COURCES_ID_TRAINING], [COURCES_ID_DEPTOUT], [COURCES_ID_ESTIMATE], [COURCES_ID_IMAGECERT], [COURCES_ID_IMAGEHR], [COURCES_START_DATE], [COURCES_END_DATE], [COURCES_NUMBEROFDAYS], [COURCES_PASS_RATE], [CEMPID]) VALUES (1000, 1, 4, 2, 1, 1, 2, N'IMG_٢٠١٥٠٢١١_١٥٤٦٤٢.jpg', N'IMG_٢٠١٥٠٢١٠_١٤٤٢٤٦.jpg', CAST(N'2021-04-02' AS Date), CAST(N'2021-04-08' AS Date), 6, CAST(99 AS Decimal(2, 0)), N'0')
INSERT [dbo].[A_COURCES_MASTER] ([COURCES_IDMASTER], [COURCES_ID], [COURCES_ID_TYPE], [COURCES_ID_DEPTIN], [COURCES_ID_TRAINING], [COURCES_ID_DEPTOUT], [COURCES_ID_ESTIMATE], [COURCES_ID_IMAGECERT], [COURCES_ID_IMAGEHR], [COURCES_START_DATE], [COURCES_END_DATE], [COURCES_NUMBEROFDAYS], [COURCES_PASS_RATE], [CEMPID]) VALUES (1003, 2, 3, 3, 2, 2, 2, N'IMG_٢٠١٥٠٣١٤_١٢٠٨٥٢.jpg', N'IMG_٢٠١٥٠٢١٠_١٤٥٩٢١.jpg', CAST(N'2021-04-09' AS Date), CAST(N'2021-04-30' AS Date), 21, CAST(98 AS Decimal(2, 0)), N'0')
INSERT [dbo].[A_COURCES_MASTER] ([COURCES_IDMASTER], [COURCES_ID], [COURCES_ID_TYPE], [COURCES_ID_DEPTIN], [COURCES_ID_TRAINING], [COURCES_ID_DEPTOUT], [COURCES_ID_ESTIMATE], [COURCES_ID_IMAGECERT], [COURCES_ID_IMAGEHR], [COURCES_START_DATE], [COURCES_END_DATE], [COURCES_NUMBEROFDAYS], [COURCES_PASS_RATE], [CEMPID]) VALUES (1004, 1, 2, 1, 2, 1, 1, N'IMG_٢٠١٥٠٢١١_١٥٥٨٥٠.jpg', N'IMG_٢٠١٥٠٣١٣_١٧٣٢٤٦.jpg', CAST(N'2021-04-01' AS Date), CAST(N'2021-04-16' AS Date), 15, CAST(97 AS Decimal(2, 0)), N'0')
SET IDENTITY_INSERT [dbo].[A_COURCES_MASTER] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_NAME] ON 

INSERT [dbo].[A_COURCES_NAME] ([COURCES_ID], [COURCES_NAME]) VALUES (1, N'برمجة')
INSERT [dbo].[A_COURCES_NAME] ([COURCES_ID], [COURCES_NAME]) VALUES (2, N'شبكات')
INSERT [dbo].[A_COURCES_NAME] ([COURCES_ID], [COURCES_NAME]) VALUES (3, N'جرافيك')
SET IDENTITY_INSERT [dbo].[A_COURCES_NAME] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_TRAINING_METHOD] ON 

INSERT [dbo].[A_COURCES_TRAINING_METHOD] ([COURCES_ID_TRAINING], [COURCES_NAME_TRAINING]) VALUES (1, N'عن بعد')
INSERT [dbo].[A_COURCES_TRAINING_METHOD] ([COURCES_ID_TRAINING], [COURCES_NAME_TRAINING]) VALUES (2, N'حضور')
INSERT [dbo].[A_COURCES_TRAINING_METHOD] ([COURCES_ID_TRAINING], [COURCES_NAME_TRAINING]) VALUES (3, N'-')
SET IDENTITY_INSERT [dbo].[A_COURCES_TRAINING_METHOD] OFF
GO
SET IDENTITY_INSERT [dbo].[A_COURCES_TYPE] ON 

INSERT [dbo].[A_COURCES_TYPE] ([COURCES_ID_TYPE], [COURCES_TYPE_NAME]) VALUES (1, N'دورة لا تتضمن اختبار اجتياز')
INSERT [dbo].[A_COURCES_TYPE] ([COURCES_ID_TYPE], [COURCES_TYPE_NAME]) VALUES (2, N'دورة تتضمن اختبار اجتياز')
INSERT [dbo].[A_COURCES_TYPE] ([COURCES_ID_TYPE], [COURCES_TYPE_NAME]) VALUES (3, N'دورة إثرائية')
SET IDENTITY_INSERT [dbo].[A_COURCES_TYPE] OFF
GO
INSERT [dbo].[CEMPS] ([CEMPID], [CEMPUSERNO], [CEMPPASSWRD], [CEMPNO], [CEMPNAME], [CEMPJOBNAME], [CEMPADPRTNO], [DEP_NAME], [CLSSNO], [MANAGERID], [MANAGERNAME], [PARENTID], [PARENTNAME], [CEMPHIRINGDATE], [CEMPLASTUPGRADE], [CROLEID]) VALUES (N'123', N'123', N'123', N't', N'test', N't', N't', N' ', N'22', N'22', N' ', N' ', N' ', CAST(N'2020-10-20' AS Date), CAST(N'2020-05-06' AS Date), 1)
INSERT [dbo].[CEMPS] ([CEMPID], [CEMPUSERNO], [CEMPPASSWRD], [CEMPNO], [CEMPNAME], [CEMPJOBNAME], [CEMPADPRTNO], [DEP_NAME], [CLSSNO], [MANAGERID], [MANAGERNAME], [PARENTID], [PARENTNAME], [CEMPHIRINGDATE], [CEMPLASTUPGRADE], [CROLEID]) VALUES (N'3954001', N'3954001', N'1234', N'3954001', N'صالح بن ابراهيم عمر العمر', N'عامل زراعي', N'422030400', N'الادارة العامة لصيانة الحدائق', N'44', N'4191010', N'يوسف بن سليمان محمد العليوي', N'422030000', N'وكالة الخدمات البلدية', NULL, NULL, 3)
INSERT [dbo].[CEMPS] ([CEMPID], [CEMPUSERNO], [CEMPPASSWRD], [CEMPNO], [CEMPNAME], [CEMPJOBNAME], [CEMPADPRTNO], [DEP_NAME], [CLSSNO], [MANAGERID], [MANAGERNAME], [PARENTID], [PARENTNAME], [CEMPHIRINGDATE], [CEMPLASTUPGRADE], [CROLEID]) VALUES (N'4006020', N'4006020', N'6020', N'4006020', N'نافيد بن اشرف', N'عامل نظافه', N'422021260', N'ادارة صيانة المرافق - تشغيل وصيانه', N'61', N'4241016', N'عبدالله بن شمروخ صنيتان البدراني', N'422030000', N'وكالة الخدمات البلدية', NULL, NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[MasterDetails] ON 

INSERT [dbo].[MasterDetails] ([MasterDetailsSerial], [COURCES_IDMASTER], [MasterRequestFrom], [MasterRequestTo], [MasterRequestTypeSatus], [MasterRequestNotes]) VALUES (1000, 1000, N' ', N' ', 0, N' ')
INSERT [dbo].[MasterDetails] ([MasterDetailsSerial], [COURCES_IDMASTER], [MasterRequestFrom], [MasterRequestTo], [MasterRequestTypeSatus], [MasterRequestNotes]) VALUES (1003, 1000, N'', N'', 2, N' no')
INSERT [dbo].[MasterDetails] ([MasterDetailsSerial], [COURCES_IDMASTER], [MasterRequestFrom], [MasterRequestTo], [MasterRequestTypeSatus], [MasterRequestNotes]) VALUES (1004, 1003, N'0', N'0', 0, N'')
SET IDENTITY_INSERT [dbo].[MasterDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterRequestTypeId] ON 

INSERT [dbo].[MasterRequestTypeId] ([MasterRequestTypeIdsMasterRequestTypeIdserial], [COURCES_IDMASTER], [MasterRequestType]) VALUES (1000, 1000, 2)
INSERT [dbo].[MasterRequestTypeId] ([MasterRequestTypeIdsMasterRequestTypeIdserial], [COURCES_IDMASTER], [MasterRequestType]) VALUES (1003, 1003, 1)
INSERT [dbo].[MasterRequestTypeId] ([MasterRequestTypeIdsMasterRequestTypeIdserial], [COURCES_IDMASTER], [MasterRequestType]) VALUES (1004, 1004, 1)
SET IDENTITY_INSERT [dbo].[MasterRequestTypeId] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLogin] ON 

INSERT [dbo].[tblLogin] ([Id], [username], [cpassword], [roleid]) VALUES (1, N'test', N't', 3)
INSERT [dbo].[tblLogin] ([Id], [username], [cpassword], [roleid]) VALUES (2, N'3954001', N'1234', 3)
INSERT [dbo].[tblLogin] ([Id], [username], [cpassword], [roleid]) VALUES (3, N'4006020', N'6020', 3)
GO
SET IDENTITY_INSERT [dbo].[tblLogin] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMainMenu] ON 

INSERT [dbo].[tblMainMenu] ([id], [mainmenue]) VALUES (1, N'ViewModelMasterwithother')
INSERT [dbo].[tblMainMenu] ([id], [mainmenue]) VALUES (2, N'ACourcesTypes')
INSERT [dbo].[tblMainMenu] ([id], [mainmenue]) VALUES (3, N'ACourcesTrainingMethods')
SET IDENTITY_INSERT [dbo].[tblMainMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRoles] ON 

INSERT [dbo].[tblRoles] ([Id], [Roles]) VALUES (1, N'Administrator')
INSERT [dbo].[tblRoles] ([Id], [Roles]) VALUES (2, N'Manager')
INSERT [dbo].[tblRoles] ([Id], [Roles]) VALUES (3, N'User')
SET IDENTITY_INSERT [dbo].[tblRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSubMenu] ON 

INSERT [dbo].[tblSubMenu] ([id], [SubMenuear], [SubMenueen], [Controller], [Action], [mainmenueid], [roleid]) VALUES (1, N'تسجيل دورة ', N'Register Acourse', N'ACourcesMasters', N'Create', 5, 1)
INSERT [dbo].[tblSubMenu] ([id], [SubMenuear], [SubMenueen], [Controller], [Action], [mainmenueid], [roleid]) VALUES (3, N'الاستعلام عن دورة ', N'Search Course', N'ACourcesMasters', N'Search', 5, 1)
INSERT [dbo].[tblSubMenu] ([id], [SubMenuear], [SubMenueen], [Controller], [Action], [mainmenueid], [roleid]) VALUES (5, N'الكورسات ', N'Courses', N'ACourcesNames', N'Index', 4, 1)
SET IDENTITY_INSERT [dbo].[tblSubMenu] OFF
GO
ALTER TABLE [dbo].[A_COURCES_CERT_IMAGE] ADD  CONSTRAINT [DF_A_COURCES_CERT_IMAGE_IMAGE_CREATED_DATE]  DEFAULT (getdate()) FOR [IMAGE_CREATED_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_CERT_IMAGEHR] ADD  CONSTRAINT [DF_A_COURCES_CERT_IMAGEHR_IMAGE_CREATED_DATE]  DEFAULT (getdate()) FOR [IMAGE_CREATED_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_START_DATE]  DEFAULT (getdate()) FOR [COURCES_START_DATE]
GO
ALTER TABLE [dbo].[A_COURCES_MASTER] ADD  CONSTRAINT [DF_A_COURCES_MASTER_COURCES_END_DATE]  DEFAULT (getdate()) FOR [COURCES_END_DATE]
GO
ALTER TABLE [dbo].[CEMPS] ADD  CONSTRAINT [DF_CEMPS_CROLEID]  DEFAULT ((3)) FOR [CROLEID]
GO
ALTER TABLE [dbo].[MasterDetails] ADD  CONSTRAINT [DF_MasterDetails_MasterRequestTypeSatus]  DEFAULT ((0)) FOR [MasterRequestTypeSatus]
GO
ALTER TABLE [dbo].[MasterRequestTypeId] ADD  CONSTRAINT [DF_MasterRequestTypeId_Req-Type]  DEFAULT ((0)) FOR [MasterRequestType]
GO
ALTER TABLE [dbo].[tblLogin] ADD  CONSTRAINT [DF_tblLogin_roleid]  DEFAULT ((3)) FOR [roleid]
GO
ALTER TABLE [dbo].[A_COURCES_NAME]  WITH CHECK ADD  CONSTRAINT [FK_A_COURCES_NAME_A_COURCES_NAME] FOREIGN KEY([COURCES_ID])
REFERENCES [dbo].[A_COURCES_NAME] ([COURCES_ID])
GO
ALTER TABLE [dbo].[A_COURCES_NAME] CHECK CONSTRAINT [FK_A_COURCES_NAME_A_COURCES_NAME]
GO
USE [master]
GO
