@model Hr.Models.ACourcesDeptin

@{
    ViewData["Title"] = "اضافة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>اضافة </h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="CourcesIdDeptin" class="form-control" placeholder="كود القسم" />
                <span asp-validation-for="CourcesIdDeptin" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="CourcesNameDeptin" class="form-control" placeholder=" القسم" />
                <span asp-validation-for="CourcesNameDeptin" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="newcode" class="form-control" placeholder="الكود الجديد " />
                <span asp-validation-for="newcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">عودة الي الرئيسية </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
