@model Hr.Models.ACourcesDeptin

@{
    ViewData["Title"] = "تعديل ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تعديل</h1>

@*<h4>ACourcesDeptin</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourcesIdDeptin" />
            <div class="form-group">
                @*<label asp-for="CourcesNameDeptin" class="control-label"></label>*@
                <input asp-for="CourcesNameDeptin" class="form-control" />
                <span asp-validation-for="CourcesNameDeptin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index" class="btn btn-success" >عودة الي الرئيسية</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
