@model Hr.Models.ACoursesLocation

@{
    ViewData["Title"] = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تفاصيل</h1>

<div>
    <h4>@*ACoursesLocation*@</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.name)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning" >تعديل</a> |
    <a asp-action="Index" class="btn btn-success" >عودة الي الرئيسية</a>
</div>
