@model Hr.Models.ACourcesEstimate

@{
    ViewData["Title"] = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تفاصيل</h1>

<div>
    @*<h4>ACourcesEstimate</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.CourcesNameEstimate)*@
            التقدير
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourcesNameEstimate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.CourcesNameEstimate)*@
            الدرجة
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Range)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.CourcesIdEstimate" class="btn btn-warning">تعديل</a> |*@
    <a asp-action="IndexWithout" class="btn btn-success">عودة الي الرئيسية</a>
</div>
