@model Hr.Models.ACourcesDeptout

@{
    ViewData["Title"] = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تفاصيل </h1>

<div>
    @*<h4>ACourcesDeptout</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.CourcesNameDeptout)*@
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.CourcesNameDeptout)
        </dd>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Ttype)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.CourcesIdDeptout" class="btn btn-warning">تعديل</a> |*@
    <a asp-action="IndexWithout" class="btn btn-success">عودة الي الرئيسية</a>
</div>
