@model Hr.Models.ACourcesDeptout

@{
    ViewData["Title"] = "تفاصيل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تفاصيل </h1>

<div>
    @*<h4>ACourcesDeptout</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.CourcesNameDeptout)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesNameDeptout)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourcesIdDeptout">تعديل</a> |
    <a asp-action="Index">عودة الي الرئيسية</a>
</div>
