@model Hr.Models.ACourcesName

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>تفاصيل</title>
</head>
<body>

<div>
    @*<h4>ACourcesName</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.CourcesName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourcesName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourcesId">تعديل</a> |
    <a asp-action="Index">عودة الي القائمة </a>
</div>
</body>
</html>
