@model IEnumerable<Hr.Models.ACourcesName>

@{
    ViewData["Title"] = "الدورات  ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @*
        Layout = "~/Views/Shared/_Layout - Copy.cshtml";
    *@
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>الدورات</title>
</head>
<body>

    <table id="table" class="table table-bordered table-condensed table-striped table-hover sortable">
        <thead>
            <tr>
                <th></th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CourcesName)*@
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Create" class="btn btn-success"> اضافة </a>|
                        <a asp-action="Edit" asp-route-id="@item.CourcesId" class="btn btn-warning">تعديل</a> |
                        <a asp-action="Details" asp-route-id="@item.CourcesId" class="btn btn-info">تفاصيل</a> |
                        @*<a asp-action="Delete" asp-route-id="@item.CourcesId">Delete</a>*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourcesName)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <script>

    $(document).ready(function () {
        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                /*'copy', 'csv', 'excel', 'pdf',*/ 'print'
            ]
        });
    });

    </script>

    <link href="~/DataTables (1)/datatables.css" rel="stylesheet" />

    <script src="~/DataTables (1)/datatables.js"></script>

    <script src="~/DataTables (1)/pdfmake-0.1.36/pdfmake.js"></script>

    <script src="~/DataTables (1)/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="~/DataTables (1)/JSZip-2.5.0/jszip.js"></script>
</body>
</html>
