@model Hr.Models.Cemp

@{
    ViewData["Title"] = "تحديث صلاحية موظف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">//
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cempid" />
            <div class="form-group">
                <label asp-for="CEMPUSERNO" class="control-label"></label>
                <input asp-for="CEMPUSERNO" class="form-control" />
                <span asp-validation-for="CEMPUSERNO" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CEMPPASSWRD" class="control-label"></label>
                    <input asp-for="CEMPPASSWRD" class="form-control" />
                    <span asp-validation-for="CEMPPASSWRD" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEMPNO" class="control-label"></label>
                    <input asp-for="CEMPNO" class="form-control" />
                    <span asp-validation-for="CEMPNO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEMPNAME" class="control-label"></label>
                    <input asp-for="CEMPNAME" class="form-control" />
                    <span asp-validation-for="CEMPNAME" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEMPJOBNAME" class="control-label"></label>
                    <input asp-for="CEMPJOBNAME" class="form-control" />
                    <span asp-validation-for="CEMPJOBNAME" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CEMPADPRTNO" class="control-label"></label>
                    <input asp-for="CEMPADPRTNO" class="form-control" />
                    <span asp-validation-for="CEMPADPRTNO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DEP_NAME" class="control-label"></label>
                    <input asp-for="DEP_NAME" class="form-control" />
                    <span asp-validation-for="DEP_NAME" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLSSNO" class="control-label"></label>
                    <input asp-for="CLSSNO" class="form-control" />
                    <span asp-validation-for="CLSSNO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MANAGERID" class="control-label"></label>
                    <input asp-for="MANAGERID" class="form-control" />
                    <span asp-validation-for="MANAGERID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MANAGERNAME" class="control-label"></label>
                    <input asp-for="MANAGERNAME" class="form-control" />
                    <span asp-validation-for="MANAGERNAME" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PARENTID" class="control-label"></label>
                    <input asp-for="PARENTID" class="form-control" />
                    <span asp-validation-for="PARENTID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cemphiringdate" class="control-label"></label>
                    <input asp-for="Cemphiringdate" class="form-control" />
                    <span asp-validation-for="Cemphiringdate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cemplastupgrade" class="control-label"></label>
                    <input asp-for="Cemplastupgrade" class="form-control" />
                    <span asp-validation-for="Cemplastupgrade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PARENTNAME" class="control-label"></label>
                    <input asp-for="PARENTNAME" class="form-control" />
                    <span asp-validation-for="PARENTNAME" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="CROLEID" class="control-label"></label>
                @*<input asp-for="CROLEID" class="form-control" />*@
                <select asp-for="CROLEID" class="chosen-select form-control" asp-items="ViewBag.rolec">تحديد </select>
                <span asp-validation-for="CROLEID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success">عودة </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
<link href="~/js/chosen.css" rel="stylesheet" />
<link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
<link href="~/js/prism.css" rel="stylesheet" />
<script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
<script src="~/js/chosen.jquery.js"></script>
<script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
<script src="~/js/prism.js"></script>

<script type="text/javascript">

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }//,
            //'.chosen-search': {disable_search: false}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

</script>
<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            try {
                $("input[type='text']").each(function () {
                    $(this).attr("autocomplete", "off");
                });
            }
            catch (e) { }
        });

</script>