@model Hr.Models.ACourcesMaster

@{
    ViewData["Title"] = "انشاء طلب دورة جديد";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>تسجيل دورة</title>

    <style>
    </style>
</head>
<body>

    <h4>تسجيل الدورات  التدريبية </h4>
    <hr />
    <div class="row" @*style="float:right; width:40%"*@>
        <div class="col-md-4">
            <form asp-action="Create11" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"> تحديد اسم الكورس </label>
                    <select asp-for="CourcesId" id="chosen-select" class="chosen-select form-control" asp-items="ViewBag.CourcesId">
                        <option value="">تحديد</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">تحديد نوع الكورس </label>
                    <select asp-for="CourcesIdType" id="chosen-select1" class="chosen-select form-control" asp-items="ViewBag.ACourcesType">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">الادارة  </label>
                    <select asp-for="CourcesIdDeptin" id="chosen-select2" class="form-control chosen-select" asp-items="ViewBag.ACourcesDeptin">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdDeptin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">حدد نوع التدريب </label>
                    <select asp-for="CourcesIdTraining" id="chosen-select3" class="form-control chosen-select" asp-items="ViewBag.ACourcesTrainingMethod">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdTraining" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">جهة مقدم الدورة </label>
                    <select asp-for="CourcesIdDeptout" id="chosen-select4" class="form-control chosen-select" asp-items="ViewBag.ACourcesDeptout">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdDeptout" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">تقدير الدورة </label>
                    <select asp-for="CourcesIdEstimate" id="chosen-select5" class="form-control chosen-select" asp-items="ViewBag.ACourcesEstimate">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdEstimate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">ارفاق ملف صورة لشهادة الدورة  </label>
                    <input type="file" asp-for="Filecer" class="form-control" asp-items="ViewBag.CourcesIdImagecert" />
                    <span asp-validation-for="CourcesIdImagecert" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">ارفاق ملف اعتماد الموارد البشرية </label>
                    <input type="file" asp-for="Filehr" class="form-control" asp-items="ViewBag.ACourcesCertImagehr" />
                    <span asp-validation-for="CourcesIdImagehr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">بداية الدورة   </label>
                    <input type="date" asp-for="CourcesStartDate" class="form-control" />
                    <span asp-validation-for="CourcesStartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">نهاية الدورة   </label>
                    <input type="date" asp-for="CourcesEndDate" class="form-control" />
                    <span asp-validation-for="CourcesEndDate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label class="control-label">عدد ايام التدريب  </label>
                        <input asp-for="CourcesNumberofdays" readonly class="form-control" />
                        <span asp-validation-for="CourcesNumberofdays" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label class="control-label">نسبة الانجاز %   </label>
                    <input asp-for="CourcesPassRate" class="form-control" />
                    <span asp-validation-for="CourcesPassRate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label class="control-label">اسم الموظف </label>
                        <select asp-for="Cempid" class="form-control" asp-items="ViewBag.Cempid">
                            <option value="">Select--</option>
                        </select>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="حفظ" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    @*<div style="float:right; width:40%">
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
    <link href="~/js/chosen.css" rel="stylesheet" />
    <link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
    <link href="~/js/prism.css" rel="stylesheet" />
    <script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
    <script src="~/js/prism.js"></script>

    <script type="text/javascript">

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }//,
            //'.chosen-search': {disable_search: false}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    </script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            try {
                $("input[type='text']").each(function () {
                    $(this).attr("autocomplete", "off");
                });
            }
            catch (e) { }
        });

    </script>

</body>
</html>
@*style="float:right; width:40%"*@