@model Hr.Models.ACourcesMaster

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>ACourcesMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourcesIdmaster" />
            <div class="form-group">
                <label asp-for="CourcesId" class="control-label"></label>
                <select asp-for="CourcesId" class="form-control" asp-items="ViewBag.CourcesId"></select>
                <span asp-validation-for="CourcesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdType" class="control-label"></label>
                <input asp-for="CourcesIdType" class="form-control" />
                <span asp-validation-for="CourcesIdType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdDeptin" class="control-label"></label>
                <input asp-for="CourcesIdDeptin" class="form-control" />
                <span asp-validation-for="CourcesIdDeptin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdTraining" class="control-label"></label>
                <input asp-for="CourcesIdTraining" class="form-control" />
                <span asp-validation-for="CourcesIdTraining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdDeptout" class="control-label"></label>
                <input asp-for="CourcesIdDeptout" class="form-control" />
                <span asp-validation-for="CourcesIdDeptout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdEstimate" class="control-label"></label>
                <input asp-for="CourcesIdEstimate" class="form-control" />
                <span asp-validation-for="CourcesIdEstimate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdImagecert" class="control-label"></label>
                <input asp-for="CourcesIdImagecert" class="form-control" />
                <span asp-validation-for="CourcesIdImagecert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesIdImagehr" class="control-label"></label>
                <input asp-for="CourcesIdImagehr" class="form-control" />
                <span asp-validation-for="CourcesIdImagehr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesStartDate" class="control-label"></label>
                <input asp-for="CourcesStartDate" class="form-control" />
                <span asp-validation-for="CourcesStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesEndDate" class="control-label"></label>
                <input asp-for="CourcesEndDate" class="form-control" />
                <span asp-validation-for="CourcesEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesNumberofdays" class="control-label"></label>
                <input asp-for="CourcesNumberofdays" class="form-control" />
                <span asp-validation-for="CourcesNumberofdays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourcesPassRate" class="control-label"></label>
                <input asp-for="CourcesPassRate" class="form-control" />
                <span asp-validation-for="CourcesPassRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cempid" class="control-label"></label>
                <select asp-for="Cempid" class="form-control" asp-items="ViewBag.Cempid"></select>
                <span asp-validation-for="Cempid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
