@model Hr.Models.ACourcesMaster

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @*<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">*@
    <link href="~/datepicker/dist/css/bootstrap-datetimepicker.css" rel="stylesheet" />

 
    <meta name="viewport" content="width=device-width" />
    <title>تعديل الطلب من مختص الموارد البشرية </title>
</head>
<body>

    @*<h4>ACourcesMaster</h4>*@
    <hr />
    <div class="row">
        <div class="col-md-5">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CourcesIdmaster" />
                <div class="form-group">
                    <label class="control-label"> تحديد اسم الدورة  </label>
                    <select asp-for="CourcesId" id="chosen-select16" class="chosen-select form-control chosen1" asp-items="ViewBag.CourcesId">
                        <option value="55">تحديد</option>
                        @*<option value="00">كورس غير مدرج -اخر </option>*@
                    </select>
                    <span asp-validation-for="CourcesId" class="text-danger"></span>
                    <p style="color:red">@ViewBag.ErrorMessage3</p>
                </div>
                <div class="form-group response" id="respond-1" style="display:none;">
                    <label class="control-label">اسم الدورة الجديد   </label>
                    <input asp-for="CourcesPassRate" class="form-control" />
                    <span asp-validation-for="CourcesPassRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">تحديد نوع الدورة </label>
                    <select asp-for="CourcesIdType" id="chosen-select1" class="chosen-select form-control chosen11 " data-placeholder="اختيار نوع الدورة " asp-items="ViewBag.ACourcesType">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdType" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label class="control-label">الادارة  </label>
                        <select asp-for="CourcesIdDeptin" id="chosen-select2" class="form-control chosen-select" data-placeholder="اختيار الادارة " asp-items="ViewBag.ACourcesDeptin">
                            <option value="">تحديد</option>
                        </select>
                        <span asp-validation-for="CourcesIdDeptin" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label class="control-label">حدد نوع التدريب </label>
                    <select asp-for="CourcesIdTraining" id="chosen-select3" class="form-control chosen-select" data-placeholder="اختيار نوع التدريب  " asp-items="ViewBag.ACourcesTrainingMethod">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdTraining" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">جهة الدورة </label>
                    <select asp-for="CourcesIdDeptout" id="chosen-select4" class="chosen-select form-control" data-placeholder="اختيار مقدم الدورة  " asp-items="ViewBag.ACourcesDeptout">
                        <option value="">تحديد</option>
                    </select>
                    <span asp-validation-for="CourcesIdDeptout" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">جهة تنفيذ التدريب </label>
                    <select asp-for="COURCES_EXCUTION" id="chosen-select4" class="chosen-select form-control" data-placeholder="اختيار جهة تنفيذ التدريب  ">
                        <option value="">تحديد</option>
                        <option value="جهة تدريب دولية">جهة تدريب دولية</option>
                        <option value="جهة تدريب حكومية">جهة تدريب حكومية</option>
                        <option value="جهة تدريب بالقطاع الخاص">جهة تدريب بالقطاع الخاص</option>
                    </select>
                    <span asp-validation-for="COURCES_EXCUTION" class="text-danger"></span>
                </div>
                <div class="form-group" id="a" @*id="respond-2" style="display:none;"*@>
                    <label class="control-label">تقدير الدورة </label>
                    <select asp-for="CourcesIdEstimate" id="chosen-select5" class="form-control chosen-select chosen5" data-placeholder="ممتاز +90 جيد جدا+80 جيد +70 مقبول +60" asp-items="ViewBag.ACourcesEstimate">
                        <option value="7">تحديد</option>
                        @*<option value="66">ممتاز +90 جيد جدا+80 جيد +70 مقبول +60</option>*@
                    </select>
                    @*multiple style="width:350px;" tabindex="9" to use place holder *@
                    <span asp-validation-for="CourcesIdEstimate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label class="control-label">ارفاق شهادة الدورة*   <label style="color:red;">"(jpeg,jpg,png,gif,jfif,pdf) !"</label>  </label>
                    <input type="file" asp-for="Filecer" class="form-control" id="f1" asp-items="ViewBag.CourcesIdImagecert" />
                 
                    <span asp-validation-for="CourcesIdImagecert" class="text-danger"></span>
                    <p style="color:red">@ViewBag.ErrorMessage</p>
                </div>
                <div class="form-group">
                    <label class="control-label">ارفاق ملف اعتماد الموارد البشرية <label style="color:red;">"(jpeg,jpg,png,gif,jfif,pdf) !"</label> </label>
                    <input type="file" asp-for="Filehr" class="form-control" asp-items="ViewBag.ACourcesCertImagehr" />
                    <span asp-validation-for="CourcesIdImagehr" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label class="control-label">تحديث بداية الدورة <input type="text" class="form-control" readonly asp-for="CourcesStartDate" />  </label>
              
                <div class="input-group" style="float: left">
                    <input type="text" class="form-control hijri-date-input" asp-for="CourcesStartDateh" />
                </div>
                @*<span asp-validation-for="CourcesStartDateh" class="text-danger"></span>*@
                <p style="color:red">@ViewBag.ErrorMessage1</p>
                <p style="color:red">@ViewBag.ErrorMessage2</p>
            </div>
                <br />
                <div class="form-group">
                    <label class="control-label">تحديث نهاية الدورة <input type="text" class="form-control" readonly asp-for="CourcesEndDate" /> </label>
               
                    <div class="input-group" style="float: left">
                        <input type="text" class="form-control hijri-date-input" asp-for="CourceendDateh" />
                        @*@Html.TextBoxFor(model => model.CourcesEndDate, new { @class = "hijri-date-input" })*@
                        @*@Html.TextBoxFor(model => model.CourcesEndDate, new { @Value = Model.CourcesEndDate, @class = "hijri-date-input" })*@

                    </div>
                    @*<span asp-validation-for="CourceendDateh" class="text-danger"></span>*@
                </div>
                @*<div class="form-group">
                        <label class="control-label">عدد ايام التدريب  </label>
                        <input asp-for="CourcesNumberofdays" readonly class="form-control" />
                        <span asp-validation-for="CourcesNumberofdays" class="text-danger"></span>
                    </div>*@

                @*<div class="form-group">
                        <label class="control-label">اسم الموظف </label>
                        <select asp-for="Cempid" class="form-control" asp-items="ViewBag.Cempid">
                            <option value="">Select--</option>
                        </select>
                    </div>*@
                @*@Html.ValidationMessage("uploadError")*@
            <div class="form-group">
                <input type="submit" value="حفظ التعديل" class="btn btn-success" />
                @*<input type="button"  value="الغاء التعديل" class="btn btn-success" />*@
            </div>
            </form>
        </div>
    </div>

    @*<div>
            <a asp-action="Index">عودة الي القائمة</a>
        </div>*@



    @*<div style="float:right; width:40%">
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <link href="/PulseBeta/css/chosen.css" rel="stylesheet" type="text/css">
    <link href="~/js/chosen.css" rel="stylesheet" />
    <link href="/PulseBeta/css/prism.css" rel="stylesheet" type="text/css">
    <link href="~/js/prism.css" rel="stylesheet" />
    <script type="text/javascript" src="/PulseBeta/js/chosen.jquery.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="/PulseBeta/js/prism.js"></script>
    <script src="~/js/prism.js"></script>
    <script src="~/datepicker/dist/js/bootstrap-hijri-datetimepicker.js"></script>


    @*<script type="text/javascript">
            $(document).on("click", ":submit", function (e) {

                if (!$('#f1').val()) {
                    e.preventDefault();
                    alert('يرجي ارفاق شهادة الدورة ');
                }

            }

        </script>*@

    <script type="text/javascript">

        $('#chosen-select16').append(new Option('اخري', 5));
        /* $('#chosen-select5').append(new Option('ممتاز +90 جيد جدا+80 جيد +70 مقبول +60', 0));*/
        $("#a").css('visibility', 'hidden');

        //function m() {
        //    if (document.getElementById("f1").files.length == 0) {
        //        console.log("لم يتم ارفاق شهادة الدورة ");
        //        alert("لم يتم ارفاق شهادة الدورة ");
        //    }

        //}

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }//,
            //'.chosen-search': {disable_search: false}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
        $("select.chosen11").change(function () {

            var selectedCountry11 = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry11 == 2 || selectedCountry11 == 4) {
                alert("  يرجي اختيار التقدير  - ");
                $("#a").css('visibility', 'visible');
                var hiddenBox = $("#respond-2");
                hiddenBox.show();



            }
            else {
                $("#a").css('visibility', 'hidden');
                var hiddenBox = $("#respond-2");
                hiddenBox.hide();

            }
        });

        $("select.chosen1").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selectedCountry == 5) {
                alert("  يرجي ادخال اسم الدورة الجديد باالاسفل - ");

                var hiddenBox = $("#respond-1");
                hiddenBox.show();



            }
            else {
                var hiddenBox = $("#respond-1");
                hiddenBox.hide();

            }
        });
        $("select").change(function () {
            var selected5 = $(this).children("option:selected").val();
            /*      var selectedCountry1=$("#chosen-select16 option:selected").val();*/
            if (selected5 == 0) {
                alert("لايتم اختيار هذا العنصر  - ");

            }
        });
    </script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            try {
                $("input[type='text']").each(function () {
                    $(this).attr("autocomplete", "off");
                });
            }
            catch (e) { }
        });

    </script>



    <script type="text/javascript">


        $(function () {

            initHijrDatePicker();

            initHijrDatePickerDefault();

            $('.disable-date').hijriDatePicker({

                minDate: "2020-01-01",
                maxDate: "2022-01-01",
                viewMode: "years",
                hijri: true,
                debug: true,


            });

        });


        function initHijrDatePicker() {

            $(".hijri-date-input").hijriDatePicker({
                minDate: "2000-01-01",
                maxDate: new Date(),
                //disabledDates: [new Date()],
                locale: "ar-sa",
                format: "YYYY-MM-DD",
                hijriFormat: "iYYYY-iMM-iDD",
                dayViewHeaderFormat: "MMMM YYYY",
                hijriDayViewHeaderFormat: "iMMMM iYYYY",
                showSwitcher: false,
                allowInputToggle: true,
                showTodayButton: false,
                useCurrent: true,
                isRTL: false,
                viewMode: 'months',
                keepOpen: false,
                hijri: true,
                debug: true,
                showClear: true,
                showTodayButton: true,
                showClose: true,




            });
        }

        function initHijrDatePickerDefault() {

            $(".hijri-date-default").hijriDatePicker();
        }

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script>
        try {
            fetch(new Request("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", { method: 'HEAD', mode: 'no-cors' })).then(function (response) {
                return true;
            }).catch(function (e) {
                var carbonScript = document.createElement("script");
                carbonScript.src = "//cdn.carbonads.com/carbon.js?serve=CK7DKKQU&placement=wwwjqueryscriptnet";
                carbonScript.id = "_carbonads_js";
                document.getElementById("carbon-block").appendChild(carbonScript);
            });
        } catch (error) {
            console.log(error);
        }
    </script>


    @*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
</body>
</html>
